/*css Template*/

.block_ {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    color: black;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre {
    color: #F00;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    height: 12pt;
    width: 12pt
    }
.calibre3 {
    font-weight: bold
    }
.text_ {
    color: #00F;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    color: #00F
    }
.text_2 {
    color: #00F;
    text-decoration: underline
    }
.text_3 {
    font-family: "Times New Roman", serif
    }
.text_4 {
    font-family: "Verdana", sans-serif
    }
.text_5 {
    font-family: "Verdana", sans-serif;
    font-weight: bold
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
.boxA{ height:auto;
			margin:0 auto;
			width:95%;
			max-width:900px;
}
/*Insert page code here*/
a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}

.box1{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#f5fff2;
		border: 5px solid orange;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		text-decoration:none;
		
		margin-bottom:20px;
		text-decoration:none !important;
}
.box1>h1{text-decoration:none !important;
}
.box1>h2{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin:0px;
}
.box1:hover{
			background-color:white;
			color:black;
}
.box1>p:hover{
			color:black;
}
.box2{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#eaffef;
		border: 5px solid green;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		margin-bottom:20px;
}
.box2>h2{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin:0px;
}
.box2>h3{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin-top:5px;
			margin-bottom:5px;
}
.box2:hover{
			background-color:white;
			color:black;
}
.box2>p:hover{
			color:black;
}
.box3{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#ffffcc;/*f5fff2;*/
		border: 5px solid blue;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
}
.box3>h2{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin:0px;
}
.box3:hover{
			background-color:white;
			color:black;
}
.box3>p:hover{
			color:black;
}
.box4 {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
			margin-bottom:50px;
}
.box4>h2{ font-size: 2em;/*4em;*/
				text-align:center;
				color:transparent;
}
.box4a {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
}
.box4a>h2{ font-size: 2.5em;/*top spacer*/
				text-align:center;
				color:white;
}
.boximage4 {  /*This is a div*/
				margin-top:5.3em;
				width: 100%;
				position:center;
				text-align:center;
				display:inline-block;
				margin-bottom:-1em;
				margin-right:0 auto;
				margin-left:0 auto;
				
}
@media all and (max-width:450px) {.boximage4 {margin-top:-1em; } }

.box5{ width:95%;
}	

.box6{width:60%;
		height:auto;
		
		max-width:600px;
		margin: 0 auto;
		margin-top:-30px;
		background-color:#fff9ff;/*#fffff2;*/
		border: 5px solid brown;
		font-family: "Segoe UI Symbol",Verdana, sans-serif;
		text-align:center;
		text-decoration:none;
		margin-bottom:20px;
		text-decoration:none !important;
}
.box6>h1{text-decoration:none !important;
}
.box6>h2{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin:0px;
}
.box6>h3{text-decoration:none !important;
}
.box6:hover{
			background-color:white;
			color:black;
}
.box6>p:hover{
			color:black;
}
/*--------------------------------------*/
.box7{width:60%;
		height:auto;
		
		max-width:600px;
		margin: 0 auto;
		margin-top:-5px;
		background-color:#ffe6d0;/*#ffe2c8;/*#fff9ff;/*#fffff2;*/
		border: 5px solid #909;
		font-family: "Segoe UI Symbol",Verdana, sans-serif;
		text-align:center;
		text-decoration:none;
		margin-bottom:20px;
		text-decoration:none !important;
}
.box7>h1{text-decoration:none !important;
}
.box7>h2{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin:0px;
}
.box7>h3{text-decoration:none !important;
				margin-top:0px;
				margin-bottom:100px;
}
.box7:hover{
			background-color:white;
			color:black;
}
.box7>p:hover{
			color:black;
}
.boxA{ height:auto;
			margin:0 auto;
			width:95%;
			max-width:900px;
}
/*Insert page code here*/
a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}
