
.box1{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#f5fff2;
		border: 5px solid orange;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		text-decoration:none;
		
		margin-bottom:20px;
		text-decoration:none !important;
}
.box1>h1{text-decoration:none !important;
}

.box1>h2{text-decoration:none !important;
			padding: 0px;
			margin-top:3px;
			margin-bottom:12px;
}
.box1:hover{
			background-color:white;
			color:black;
}
.box1>p:hover{
			color:black;
}
.box2{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#eaffef;
		border: 5px solid green;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		margin-bottom:20px;
}
.box2>h2{text-decoration:none !important;
			padding: 5px;
			padding-bottom:8px;
			margin:0px;
}
.box2>h2{text-decoration:none !important;
			padding: 0px;
			margin-top:3px;
			margin-bottom:12px;
}
.box2:hover{
			background-color:white;
			color:black;
}
.box2>p:hover{
			color:black;
}
.box3{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#ffffcc;/*f5fff2;*/
		border: 5px solid blue;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
}
.box3>h2{text-decoration:none !important;
			padding: 0px;
			margin-top:3px;
			margin-bottom:12px;
}
.box3:hover{
			background-color:white;
			color:black;
}
.box3>p:hover{
			color:black;
}
.box4 {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
}
.box4>h2{ font-size: 2em;/*4em;*/
				text-align:center;
				color:white;
}
.box4a {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
			height:40px;
}
.box4a>h2{ font-size: 2.5em;/*top spacer*/
				text-align:center;
				color:white;
}
.boximage4 {  /*This is a div*/
				margin-top:1.3em;/*2.3em;*/
				width: 100%;
				position:center;
				text-align:center;
				display:inline-block;
				margin-bottom:-1em;
				margin-right:0 auto;
				margin-left:0 auto;
}
@media all and (max-width:450px) {.boximage4 {margin-top:-1em; } }

.box5{ width:95%;
}	

.box6{width:60%;
		height:auto;
		
		max-width:600px;
		margin: 0 auto;
		margin-top:-30px;
		background-color:#fff9ff;/*#fffff2;*/
		border: 5px solid brown;
		font-family: "Segoe UI Symbol",Verdana, sans-serif;
		text-align:center;
		text-decoration:none;
		margin-bottom:20px;
		text-decoration:none !important;
}
.box6>h1{text-decoration:none !important;
}

.box6>h2{text-decoration:none !important;
			padding: 0px;
			margin-top:3px;
			margin-bottom:12px;
}
.box6>h3{text-decoration:none !important;
}
.box6:hover{
			background-color:white;
			color:black;
}
.box6>p:hover{
			color:black;
}
/*----------------------------------------------*/
.box6a{width:60%;
		height:auto;
		
		max-width:600px;
		margin: 0 auto;
		margin-top:-3px;
		background-color:#fff9ff;/*#fffff2;/*#f5eefd;/*;*/
		border: 5px solid blue;
		font-family: "Segoe UI Symbol",Verdana, sans-serif;
		text-align:center;
		text-decoration:none;
		margin-bottom:20px;
		text-decoration:none !important;
}
.box6a>h1{text-decoration:none !important;
}

.box6a>h2{text-decoration:none !important;
			padding: 0px;
			margin-top:3px;
			margin-bottom:12px;
}
.box6a>h3{text-decoration:none !important;
}
.box6a:hover{
			background-color:pink;/*#fefdff;/*red;*/
			color:black;
}
.box6a>p:hover{
			color:black;
}
	
.boxA{ height:auto;
			margin:0 auto;
			width:95%;
			max-width:900px;
}
.boxB{height:600px;
			width:95%;
			max-width:900px;
			margin-top:100px;
}



.block_ {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_2 {
    color: black;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    color: black;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    color: black;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 36pt
    }
.block_7 {
    color: black;
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    color: black;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_11 {
    color: black;
	
    display: block;
	float:right;
    font-size: 1.3em;
	color:green;
	background-color:#fff1e6;/*pink;*/
	text-align:right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 50;
    padding-top: 0;
	border: 2px solid blue;
    }
	.block_11:hover{
			background-color:white;
			color:black;
}
.block_11>p:hover{
			color:black;
}	
.block_12 {
    color: black;
    display: block;
	float:left;
	/*width:20%;*/
    font-size: 1.3em;
	color:green;
	background-color:#fff1e6;/*#fff9f4;/*pink;*/
	text-align:left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 50;
    padding-top: 0;
	border: 2px solid blue;
    }
.block_12:hover{
			background-color:white;
			color:black;
}
.block_12>p:hover{
			color:black;
}
	
	
.calibre {
    color: #F00;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    height: 12pt;
    width: 12pt
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    height: 12pt;
    line-height: 1.2;
    width: 12pt
    }
.calibre6 {
    display: block;
    height: auto;
    width: auto
    }
.text_ {
    color: #00F;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    color: #00F;
    text-decoration: underline
    }
.text_2 {
    text-decoration: underline
    }
.text_3 {
    color: #00F
    }
.text_4 {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }
.text_5 {
    font-family: "Verdana", sans-serif
    }
.text_6 {
    font-family: "Times New Roman", serif
    }
.text_7 {
    font-family: "Verdana", sans-serif;
    font-weight: bold
    }
.text_8 {
    color: #00F;
    font-size: 1.33333em;
    text-decoration: underline
    }
.text_9 {
    color: #00F;
    font-size: 1.5em;
    line-height: 1.2
    }
.text_10 {
    font-size: 1.33333em
    }
.text_11 {
    color: #00F;
    text-decoration: none
    }
.text_12 {
    color: #03C;
    text-decoration: underline
    }
.text_13 {
    font-size: 1.5em;
    line-height: 1.2
    }
.text_14 {
    color: #00F;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    }
.text_15 {
    font-size: 1.33333em;
    font-weight: bold
    }
.text_16 {
    font-size: 1.88889em;
    line-height: 1.2
    }
.text_17 {
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2
    }
.text_18 {
    color: #00F;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_19 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_20 {
    color: #00F;
    font-family: "Verdana", sans-serif;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    }
.text_21 {
    color: #00F;
    font-family: "Verdana", sans-serif;
    font-size: 1.33333em;
    text-decoration: underline
    }
.text_22 {
    font-family: "Verdana", sans-serif;
    font-size: 1.33333em
    }
.text_23 {
    font-family: "Times New Roman", serif;
    font-size: 1.33333em
    }
.text_24 {
    font-family: "Verdana", sans-serif;
    font-size: 1.33333em;
    font-weight: bold
    }
.text_25 {
    color: #00F;
    font-size: 1.88889em;
    line-height: 1.2;
    text-decoration: underline
    }
.text_26 {
    color: #00F;
    font-weight: bold;
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}
