/* climateNet*/
 
 body {
				/*margin: 7px;
				padding: 7px;*/
				background-color: white;/*#dddddd; /*blue;/*#-->*/
				font-family:  Helvetica, Lucida, sans-serif;
				}
		  div {
               width: 50%;
               margin-left: auto;
			   margin-right: auto;
            } 								

 article, html, body, div, form, label, section, p {
	 margin: 0;
	 padding: 0;
 }
 h1,  h3, h4, h5, h6, p { font-weight:normal; }
 img { border: 0; }
 
 /* home page Styles */
 h1 {
	 font-family: Helvetica, Lucida, sans-serif;
	 font-size: 2em;
	 letter-spacing: 1px;
	 text-align: center;
	 margin-top: 1px;
	 padding-top: 1px;
	 
 }
h3 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 22px;
	color: #069;
	text-shadow: 2px 2px 3px #999;
	
}

img.center { 
				text-align: center;
				display: block;
				margin: 0 auto;
				/*padding:-100px;*/
				
			
}
/*-------------------------------------------------------------------*/
img.right {float: right; padding:0px 20px 15px 20px;
			margin: 0 auto;}
img.left {float:left; padding: 0px 20px 0px 35px;
			}

.imagecontainer{
				height:auto;
				width:90%;
				max-width:1000px;
				margin-top:50px;
}
	
.image1{		/*This is a div*/					/*vault*/
			margin:0 auto;
			
			margin-top:-10px;
			width: 90%;/*70%;/*100%;*/
			position:center;
			text-align:center;
			z-index: 3;
			border-top:4px solid brown;
				/*border-right:5px solid black;*/
				border-bottom: 4px solid brown;
				/*border-left: 5px solid black;*/
			background-color:transparent;/*blue;*/
			opacity: 1;
} 
	img.resize1 {         /* vault*/
				/*position:center;*/
				width:55%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				
				margin-bottom:0px;
				display: inline;
				/*height: 225px;
				width:512px;*/				
				min-width: 300px;/*350px;*/
				max-width:650px;/*800px;*/
				margin-left: 0px;
				padding-right:-5px;
				/*margin-bottom:-3px;*/
				
				
}
/*-----------------------------------------------------*/
img.resize2 {         /* vault*/
				/*position:center;*/
				width:75%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				/*height: 225px;
				width:512px;*/				
				min-width: 250px;/*350px;*/
				max-width:650px;/*800px;*/
				margin-left: 0px;
				padding-right:-5px;
				margin-bottom:-3px;
				border-left: 4px solid brown;
				border-right:4px solid brown;
				
}				
img.right {padding:-100px;
				padding-left: 30px;
				padding-top:18px;
				text-align: right;
				display:inline-block;
				float:left;
			
			}
img.left { padding: -100px;padding-top:20px;
			display:inline-block;
			float:right;
			}


.boxA { margin: 0 auto;
			
			width: 95%;
			height: auto;
			background-color: white;/*red;/*#ddd; */
}
.boxB {		margin-left: auto;
				margin-right: auto;
				margin-top: 20px;/*auto;*/
				margin-bottom: -12px;
				width: 35%;
				max-width: 550px;
				min-width: 200px;/*180px;/*200px;*/
				border-top:2px solid brown;
				border-right:5px solid black;
				border-bottom: 2px solid brown;
				border-left: 5px solid black;
				padding: 7px 10px 10px 10px;
				background-color:#deb887;/*#b0de87;/*orange; /*#f66;/*white;/*  */
				color: #000;
}
.boxB h2 {
				font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2.1em;
				text-align: center;
				padding-right: 10px;
				margin: 10px 10px 0px 0px;
				
}
.boxB>p{ text-align:center;
				text-align:center;
				font-size:1.8em;
}
.boxB:hover {background-color:#fea;
}
.boxC{ margin: 0 auto;
			margin-top: 20px;
			margin-bottom: -15px;
			width: 90%;
			max-width:1000px;
			height: auto;
			background-color: white;/*#ddd; */
}
.boxC>h2 {text-align: left;
				font-weight:normal;
				line-height:40px;
				margin-top: -20px;
}			

.boxD{ margin: 0 auto;
			margin-top:-15px;
			margin-bottom: 0px;
			width: 90%;
			max-width:1000px;
			height: auto;
			background-color: transparent;/*green;/* white;/*#ddd; */
}
.boxD>h2 {text-align: left;
				font-weight:normal;
				line-height:40px;
}	
.boxD>h4 {text-align: left;
					padding-top:0px;
					margin-top:-15px;
					margin-bottom:0px;
					line-height:32px;
					font-weight:normal;
					font-size: 1.3em;
}
/*---------------------------------------------------*/
.boxE{ margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 0px;
			width: 90%;
			max-width:1000px;
			height: auto;
			background-color: transparent;/*green;/* white;/*#ddd; */
}
.boxE>h2 {text-align: left;
				font-weight:normal;
				line-height:40px;
}	
.boxE>h4 {text-align: left;
					padding-top:0px;
					margin-top:-5px;
					margin-bottom:0px;
					line-height:32px;
					font-weight:normal;
					font-size: 1.3em;
}

#box1 {
				margin-top:-15px;
				margin-left:auto;
				margin-right:auto;
				margin-bottom: -5px;
				width: 57%;
				height: auto;
				border-radius: 5px;
				
				background-color:blue;/*#f66;*/
				color: yellow; /*#000;*/
				padding:  10px 10px 1px 10px; 
					}
#box1 h1 
				{font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2em;
				line-height: 40px;
				text-align: center;
				}				
.box2 {
				margin-top:10px;
				margin-left: auto;
				margin-right:  auto;
				width: 75%; /*65%;*/
				height: auto;
				
				background-color:green; /*#336699;*/
				border-radius: 5px;
				color: #fff;
				
}
.box2 h1 
				{font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2.5em;
				font-weight:bold;
				color: white;
				padding:10px 10px 13px 10px;
				
				text-align: center;
				}	

.box3 {/*blue box with white text 181 Congressmen etc.*/
				
				width: 60%;
				height: auto;
				border: 14px solid #ddd; 
				background-color:purple;  /*#999933; /*red;/* /*#336699;*/
				margin: 0 auto;
				margin-top:-15px;
				color: #fff;
				padding:  10px 30px 2px 30px; 
				margin-bottom:50px;
}
.box3 h1 
				{font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2em;
				font-weight:bold;
				color: yellow;
				line-height: 40px;
				text-align: center;
				
}	
.box3:hover {
				background-color:blue; /*#7ba7e1;/*#ff73b9;/*black; /*#999933; /*green;/*#f66;*/
				
				color: red;/*yellow*/
				border: 14px solid red;
				border-color: red;/*#f66;  */
				}
/*-------------------------------------------------------------*/			
.box7>p { font: normal 24px Arial; 
				margin-top:2px;
				margin-bottom:3px;
				text-align: left;/*center;*/
				font-weight: normal;
				text-decoration:none;
				padding-top:30px;
				/*border-top:4px solid white;
				border-bottom:4px solid white;
				border:2px  #e3fbe9;*/
				background-color: green;
				color: black;
				line-height: 24px;
}
.box7a{  display:inline block;
				/*float:left;*/
				margin: 0 auto;
				margin-top: -20px;
				
				height: auto;
				font-family:  Helvetica, Lucida, sans-serif;
				background-color:white;/*#7aff87;/*white;/*#ddd;*/
				width:75%;/*auto;/*90%;*/
				/*max-width:600px;*/
				min-width:200px;
				padding-left: 40px;
}
.box7a>h2
				{text-align: left;
				font-weight:normal;
				line-height:40px;/*30px;*/
}			
			
.box7b {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#ccf5ff;/*#FFF1E6;/*transparent;*/
				width:35%;
				min-width:200px;
				max-width:400px;
				border: 5px solid blue;
				border-top:1px solid blue;
				border-bottom:1px solid blue;
				color: #000;
				height:auto;/*60px;*/
				padding-top: 5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:5%;/*10%;/*3%;/*10px;*/
				margin-top:1%;
	}
	.box7b>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: normal;
				text-decoration:none;
				font-size:1.7em;
				
				color: black;
				line-height: 30px;
}
	.box7b> p:hover {
				color: black;
}
	.box7b:hover {
				background-color:#FFF1E6; 
			  	border: 5px solid brown;
				border-top:1px solid brown;
				border-bottom:1px solid brown;
				
}
.box7c {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#DCEDEA;/*transparent;*/
				width:35%;
				min-width:200px;
				max-width:400px;
				border: 5px solid purple;
				border-top:1px solid purple;
				border-bottom:1px solid purple;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:5%;/*3%;/*10px;*/
				margin-top:5px;
	}
	.box7c>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				margin-right:10%;
				margin-left:10%;
				text-align: center;
				font-size:1.7em;
				font-weight: normal;
				text-decoration:none;
				line-height: 44px;
				color: black;
				line-height: 30px;
}
	.box7c> p:hover {
				color: black;
}
	.box7c:hover {
				background-color:#ffeaea;/*pink; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:5px solid yellow;
				border-top:1px solid yellow;
				border-bottom:1px solid yellow;
}  
.box8 {display:inline-block;
			margin: 0 auto;
			text-align:center;
			text-decoration:none;
			width:20%;
			background-color:#ccf5ff;

}
.box8>h4{font-size:1.5em;
				padding:10px;
				text-decoration:none;
}		
.box9 {margin: 0 auto;
			margin-top:-60px;
			margin-bottom:-40px;
			text-align:center;
			text-decoration:none;
			width:80%;
			/*background-color:#ccf5ff;*/

}
.box9>h4{font-size:2.2em;
				padding:10px;
				text-decoration:none;
				font-weight:normal;
				color:green;
}
.box10 {
			width:95%;
			
			margin: 0 auto;
			padding:0px;
			margin-left:5%;
			
			background-color: transparent;
}			
		
	/* --------------------------------------------------------------*/		
			
		
			.btn2:hover {
				background-color:red;/*#f66;*/
				color: yellow;/*black;*/
				border-radius: 5px;
				border-color: black;/*#f66;  */
				border-top: 2px solid #CCCCCC;
				border-right: 2px solid #333333;
				border-bottom: 2px solid #333333;
				border-left: 2px solid #CCCCCC;
				/*width:150px;*/}
			.btn2 {
			  font: bold 26px Arial;
			  text-decoration: none;
			  background-color: #EfEfEE;/*red;/**/
			  color: #333333;
			  padding:3px 12px 4px 10px;
			  width: auto;
			  border-top: 2px solid #CCCCCC;
			  border-right: 2px solid #333333;
			  border-bottom: 2px solid #333333;
			  border-left: 2px solid #CCCCCC;
			  border-radius: 5px;
}
.btn3 {
				text-decoration: none;
				text-align: center;
				color: yellow;
	}
			.h_line {width: 40px;color: black;}
			.small  {font-size: 17px;color:blue;font-weight:normal;line-height:1px;text-align:center;  padding-bottom:30px; margin-left:0 auto; margin-right: 0 auto; }
			.bigger {font-size: 26px; font-weight: bold;color: black;}
			.larger {font-size: 36px;color: #ff4848;/*yellow; /**/}
			.tooltip>h3 {font-size:12px;line-height: 45px;}
			.yellow {color:  blue; font-size:21px;}
a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}	
a:link {
color:#0099ff;/*blue;*/

}

a:hover	{
	color:purple;
	text-decoration:underline;
	/*background-color:pink;/*#e6fcff;*/
}
 