
	/*Follow5CSS.css*/
	
	
@font-face {
				font-family: 'BerkshireSwash-Regular';
				src: url (Fonts/BerkshireSwash-Regular.ttf) ;
				}
		/*-------------------------------------------*/
		
		body {
				margin: 0px;
				padding: 0px;
				background-color: #ddd;/*#ccc; 
				/*background-color: #59955C; /*#85bb65; /*#59955C; /*lightblue;*/
				/*background: linear-gradient(to right, black, #f00, black); /*#dddddd);*/
				/*background: linear-gradient(to bottom, #f00,black, white); */
				font-family:  Helvetica, Lucida, sans-serif;
	}
		
			div {
               width: 90%;
				 margin-left: auto;
			   margin-right: auto;
            } 
		/*	---------------------------------------------*/
			img.right {float: right; padding:0px 20px 15px 20px;
			margin: 0 auto;}
			img.left {float:left; padding: 0px 20px 0px 35px;
			}

.imagecontainer{
				height:auto;
				width:90%;
				max-width:1000px;
				margin-top:50px;
}
	
.image1{		/*This is a div*/					/*vault*/
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:22px;
			width: 100%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		
	} 
	img.resize1 {         /* vault*/
				/*position:center;*/
				
				width:90%;
				overflow: hidden;
				margin-top:0px;
				display: inline;	
				min-width: 100px;/*350px;*/
				max-width:575px;/*800px;*/
				margin-left: 0px;
				border-top:6px solid brown;
				border-right:5px solid black;
				border-bottom: 6px solid brown;
				border-left: 5px solid black;
}

			.rightimage {float:left;}
			.small {font-size:.8em;}
.citi {
				width: 90%;/*100%;*/
				max-width: 780px;
				margin: 0 auto;
				margin-top: -20px;/*15px;*/
				padding-top:0px;/*15px;*/
				padding-bottom:25px;
				font-family: Helvetica, Lucida, sans-serif;
				font-size:1.3em;
				line-height: 29px;
				background: linear-gradient(to right, white, #eeeeee, white); 
				background-color:#eee;
				border-top: 2px solid brown;/*4px solid black;*/
				border-bottom:2px solid brown;/*4px solid black;*/
				border-left:2px solid brown;/*20px solid gray;*/
				border-right:2px solid brown;/*20px solid gray;*/
				min-width:250px;
				padding-left:-12px;
}
.citi>p{	
				padding:10px 20px 20px 20px;/*20px;*/
}
.citi>h1{ font-size:1em;
}
.citi>h2{text-align:center;
}
/*--------------------------------------------------*/
.citi2 {
				width: 90%;/*100%;*/
				height:auto;
				max-width: 780px;
				margin: 0 auto;
				margin-top: -20px;/*15px;*/
				margin-bottom:60px;
				padding-top:0px;/*15px;*/
				padding-bottom:25px;
				font-family: Helvetica, Lucida, sans-serif;
				font-size:1.3em;
				line-height: 29px;
				background: linear-gradient(to right, white, #eeeeee, white); 
				background-color:#eee;
				border-top: 2px solid brown;/*4px solid black;*/
				border-bottom:2px solid brown;/*4px solid black;*/
				border-left:2px solid brown;/*20px solid gray;*/
				border-right:2px solid brown;/*20px solid gray;*/
				min-width:250px;
				padding-left:12px;
				padding-right:12px;
				padding-bottom:12px;
}
.citi2>p{	
				padding:10px 20px 20px 20px;/*20px;*/
}
.citi2>h1{ font-size:1em;
}
.citi2>h2{text-align:center;
}


.box1a {
				margin: 0 auto;
				margin-top:20px;
				margin-bottom:20px;/*25px;*/
				width: 45%;/*100%;*/
				height: auto;
				display:inline-block;
				/*float:left;*/
				border-right: 2px solid brown;
			   border-left: 2px solid green;
			   border-top:4px solid white;
				border-bottom:4px solid white;
				border:2px solid #ff800d;/*green;/*#ccc;*/
				color: #000;
				background-color:#fff7e6; /*#D69E87;/*#ddd;*/
				padding:10px;
				text-align:center;
				max-width:1000px;
				
	}
.box1a h1 {
				opacity:1;
				font-family:  Helvetica, Lucida, sans-serif;
				font-size: 1.1em;
				font-weight:normal;
				line-height: 30px;
				text-align: center;
				padding-top: -20px;
			margin-top:1px;
			margin-bottom:1px;
	}
.box1a>p { font-size: 1em;
	}
.box1b {
				margin: 0 auto;
				/*margin-top:1%;*/
				margin-top:20px;
				margin-bottom:20px;
				width: 45%;/*100%;*/
				height: auto;
				display:inline-block;
				/*float:right;*/
				border-right: 2px solid brown;
			   border-left: 2px solid green;
			   border-top:4px solid white;
				border-bottom:4px solid white;
				border:2px solid #ff800d;/*green;/*#ccc;*/
				color: #000;
				background-color:#fff7e6; /*#D69E87;/*#ddd;*/
				padding:10px;
				text-align:center;
				max-width:1000px;
				margin-bottom:15px;/*25px;*/
	}
.box1b h1 {
				opacity:1;
				font-family:  Helvetica, Lucida, sans-serif;
				font-size: 1.1em;
				font-weight:normal;
				line-height: 30px;
				text-align: center;
				padding-top: -20px;
			margin-top:1px;
			margin-bottom:1px;
	}
.box1b>p { font-size: 1em;
	}	
/*.box1a:hover{
			background-color:#336699;/*#D69E87;/*white;
} */
.btn3A {
				font-family: TimesNewRoman, Lucida, sans-serif; 
				text-decoration: none;
				text-align: center;
				width:40%;
		}
.btn3A>p{font-family: TimesNewRoman, Lucida, sans-serif; 
				font-weight: normal;
				 font: normal 1.2em Arial; /*20px*/
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: normal;
				text-decoration:none;
				color: black;/*black;*/
				line-height: 34px;/*44px;	*/
		}
.box7 {
				margin: 0 auto;
				height: auto;
				font-family:  Helvetica, Lucida, sans-serif;
				background-color:white; /*#ddd;*/
				width:90%;
				min-width:200px;
				border-top: 2px solid #CCCCCC;
			   border-right: 2px solid brown;
			   border-bottom: 2px solid brown;
			   border-left: 2px solid green;
			   border-top:4px solid white;
				border-bottom:4px solid white;
				border:2px solid #59955c;/*#b4d1b6; /*white;*/
				color: #000;
				padding-top:25px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom:120px;
				/*margin-left:3%;/*10px;*/
				margin-top:0px;
				margin: 0 auto;
				margin-bottom:35px;
				text-align:left;/*center;*/
	}
	.box7>p{ font: normal 24px Arial; 
					margin-top:2px;
					margin-bottom:3px;
				text-align: left;/*center;*/
				font-weight: normal;
				text-decoration:none;
				padding-top:30px;
				/*border-top:4px solid white;
				border-bottom:4px solid white;
				border:2px  #e3fbe9;*/
				background-color: green;
				color: black;
				line-height: 24px;
}
				
	/*		.box7> p:hover {
				color: black;
			}
			.box7:hover {
				background-color:white; 
			   border-top: 4px solid #ddd;
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:6px solid #ccc;
				} 	*/
.box7a{  display:inline block;
				margin: 0 auto;
				margin-top: -28px;
				height: auto;
				font-family:  Helvetica, Lucida, sans-serif;
				background-color:white;/*#ddd;*/
				width:85%;
				min-width:200px;
				padding-left: 10px;
}				
.box7b{  display:inline block;
				margin: 0 auto;
				margin-top:23px;/*-28px;*/
				margin-bottom: 23px;
				height: auto;
				font-family:  Helvetica, Lucida, sans-serif;
				background-color:white;/*#ddd;*/
				border: 2px solid green; /* #ff800d;*/
				width:90%;
				min-width:200px;
				padding-top:8px;
				padding-left: 10px;
				background-color: #fff7e6;/*#fff2d9;/*#fff7e6;/*#ffffb5;/*pink;*/
}	
.box7b>p {padding-bottom:-10px;
				color:red;
}				
/*-------------------------------------------------------------*/			
	.box9 {
	width: 5px;/*105px;*/
	padding-left:10px;/*0px*/
	margin-left:-10px;
	background-color:#ddd; /*black;/*#900;*/
	color: #fff;
	position:relative;
	bottom:0;
	left:0;
	float:left;
}
.box9 a{
	height: 10px;
    display: block;
    width: 1px;
    background: transparent;
}
.box9 img{
	opacity:0;
	display:none;
	width:105px;
	float:left;
	margin-left:0;
}
.box9:hover img{
	opacity:1;
	display:block;
}
			/*-----------------------------------------*/
						
.box10  {text-decoration:none;
			line-height: 35px;
			margin-bottom: 0px;
			padding-bottom:5px;
			background-color:transparent;
						width: 60%; 
						height:auto; 
						margin-top:-55px;		
						text-align: center;
						font-size: 1.7em;
						margin-bottom:0px;
						padding-bottom: 0px;
						color: black; 
						/*font-weight: bold;	*/
}
.box11 {width: 50%; 
height:auto;/*18px; */
border-bottom: 2px solid white;
margin-top:-55px;
 		text-align: center;
		font-size: 1.8em; 
		font-weight: bold;
		max-width:300px;
		
margin-bottom:20px;
padding-bottom: 30px;
color: white;/*black;	*/
 background-color: red;/*#dddddd; */
 padding: 5px 	15px;
 border-top:4px solid white;
 border-bottom:4px solid white;
					
}
.box11>p { text-align: center;
		font-size: 1.8em; 
		font-weight: bold;
		margin-left:0px;
		margin-right:0px;
}
	
.a {text-decoration:none;
}
.p {text-decoration:none;
}
			
.btn3 {
				text-decoration: none;
				text-align: center;
				background-color:green;
	}
.btnclass1{font-size:1em;/*25px;*/
			margin: 0 auto;
			color: black;
			font-family: TimesNewRoman, Lucida, sans-serif; 
			font-weight:normal;
			text-align:center;
			text-decoration:none;
			height:35px;/*20px;*/
			/*padding-top:-25px;
			padding-left:12px;
			padding-right:10px;
			padding-bottom:15px;*/
			width:100px;/*140px; */
			background-color:#ffecb0;/*#ffffd9;/*pink;/*white;/*#ccc;*/
			 border-top: 1px solid #CCCCCC;
			  border-right: 1px solid brown;
			  border-bottom: 1px solid brown;
			  border-left: 1px solid #CCCCCC;
			  border-radius: 5px;
				margin-top:5px;
				margin-bottom:-30px;
				text-decoration:none;
				
			}
	.btnclass1>p{ text-align:center;
				line-height:0px;
				font-size:.9em;
				margin-top:17px;
				
				color: red;
				text-decoration: none;
			
	}
.btnclass1:hover {
				background-color:#CCCCCC; 
				color: black;
				/* border-top: 1px solid #CCCCCC;*/
			  border-right: 1px solid brown;/*#333333;*/
			  border-bottom: 1px solid brown;/*#333333;*/
			  /*border-left: 1px solid #CCCCCC;	*/
				width:100px;/*140px;*/
				}
			/*------------------------------*/

			
		.logobox{	
			position: relative;
    width: 100%;
    height: 56px;
    background-color: transparent;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 0px;/*40px;*/
    color: yellow;
    opacity: 1;
		}
		
		.logobox .image1{
			text-align:left;
		}
		.logobox img.resize1 {
    position: relative;
    display: inline;
    max-width: 110px;
    margin-left: 2%;
    margin-top:-22px;/*-5px;/* -8px;*/
    border: 0;
}
		.logobox2{	
			position: relative;
    width: 100%;
    height: 56px;
    background-color: transparent;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 0px;/*40px;*/
    color: yellow;
    opacity: 1;
		}
		
		.logobox2 .image1{
			text-align:left;
		}
		.logobox2 img.resize1 {
    position: relative;
    display: inline;
    max-width: 110px;
    margin-left: 4%;
    margin-top: -8px;
    border: 0;
}
a {text-decoration:none !important;
	{
.a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}
		@media all and (max-width:450px) { body { font-size:0.9em; } }   
	/*password dot - &#9679;   bullet - &#8226  */		
			