/*---copy box 8 box 7 btn3 --------------------*/			
	
.box1{ 	display:center;
				position:center;
				margin: 0 auto;
				height:auto;
				/*border: 3px solid orange;*/
				width:37%;
				min-width:200px;
				max-width:450px;
				margin-bottom:40px;
				text-align:center;
				
	}		
.box1>h1{font-weight:300;
				font-family:  Verdana, sans-serif;
				text-align:center;
				color:green;
				font-weight:bold;
				margin-bottom:10px;
				margin-top:10px;
				padding-left: 20px;
				padding-right:8px;
				margin-left:10px;
				
}
.box5{ width:95%;
}
.box5>p{ font-size:1.15em;
				font-family:  Verdana, sans-serif;
				font-weight: normal;
}
.box6 {display:center;
				margin:0 auto;
				height: auto;
				position:center;
				font-family:  Verdana, sans-serif;
				background-color:transparent;
				width:60%;
				min-width:200px;
				border: 4px solid red;
				color: #000;
				background-color:#EAFFEF;/*#b5ffc8;/*#cedef4;/*#e6dbff;*/
				text-align:center;
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-top:0px;
	}
	.box6>p { font-family: Verdana, sans-serif;
				margin-top:8px;
				margin-bottom:3px;
				text-align: center;
				font-size:1.9em;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				line-height: 24px;
}
.box6>h5{ padding-bottom:-10px;
				margin-bottom:10px;
				margin-top:12px;
}

	.box6> p:hover {
				color: black;
}
	.box6:hover {
				background-color:#ffc;/*#fc9;/*white; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 4px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid orange;/*#ccc;*/
} 
.box7  {
				display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				
				width:40%;
				min-width:200px;
				border: 4px solid orange;
				color: #000;
				background-color:#dbebff;/*#d0e6ff;/*#bbdaff;/*#a8cfff;*/
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				
				line-height: 24px;
}
	.box7> p:hover {
				color: black;
}
	.box7:hover {
				background-color:#ffc;/*white; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid #ccc;
} 
/*------------------------------------------------------*/	
.box7a {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#f5eefd;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid green;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7a>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7a> p:hover {
				color: black;
}
	.box7a:hover {
				background-color:#fefdff; 
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid purple;
} 
/*------------------------------------------------------*/	
.box7b {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#FFF1E6;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid blue;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7b>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7b> p:hover {
				color: black;
}
	.box7b:hover {
				background-color:pink; 
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid purple;
} 
/*------------------------------------------------------*/	
.box7c {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#DCEDEA;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid purple;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7c>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7c> p:hover {
				color: black;
}
	.box7c:hover {
				background-color:#ffeaea;/*pink; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid yellow;
} 
.box7d {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#c9f1ed;/*#b8e7e2;/*DCEDEA;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid #9a0c0c;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7d>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7d> p:hover {
				color: black;
}
	.box7d:hover {
				background-color:#ffeaea;/*pink; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid #D73E68;/*fuschia;*/
} 
.box7e {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#e8dbcf;/*#b8e7e2;/*DCEDEA;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid #9a0c0c;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7e>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7e> p:hover {
				color: black;
}
	.box7e:hover {
				background-color:#ffeaea;/*pink; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid #D73E68;/*fuschia;*/
} 
.box7f {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#ffeaea;/*#b8e7e2;/*DCEDEA;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid #9a0c0c;
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7f>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7f> p:hover {
				color: black;
}
	.box7f:hover {
				background-color:#ccc;/*#e8dbcf;/*pink; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid #D73E68;/*fuschia;*/
} 
.box7g {display:inline-block;
				height: auto;
				font-family:  Verdana, sans-serif;
				background-color:#fefdff;/*#ffc;/*#b8e7e2;/*DCEDEA;/*transparent;*/
				width:40%;
				min-width:200px;
				border: 4px solid purple;/*#9a0c0c;*/
				color: #000;
				height:auto;/*60px;*/
				padding-top:  5px; 
				padding-bottom: 5px;
				padding-left: 15px;
				padding-right: 5px;
				margin-bottom: 20px;
				margin-left:3%;/*10px;*/
				margin-top:0px;
	}
	.box7g>p { font-family: Verdana, sans-serif;
				margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: bold;/*normal;*/
				text-decoration:none;
				border-top:4px solid white;
				border-bottom:4px solid white;
				color: black;
				line-height: 24px;
}
	.box7g> p:hover {
				color: black;
}
	.box7g:hover {
				background-color:#ffe8bc;/*#ccc;/*#e8dbcf;/*pink; */
			   border-top: 4px solid #ddd;/*#CCCCCC;*/
			   border-right: 2px solid brown;
			   border-bottom: 4px solid #ddd;
			   border-left: 2px solid #CCCCCC;
				border:4px solid purple;/*#D73E68;/*fuschia;*/
}

.box8 {
			width:95%;
			margin: 0 auto;
			margin-left: 5%;
			background-color: transparent;
}	

	/*-------------------------------------------*/		
		.btn3 {
				font-family: Verdana, sans-serif; 
				text-decoration: none;
				text-align: center;
	}	
		.btn3>p{font-family: Verdana, sans-serif; 
				 font: normal 1.5em Verdana; /*20px*/
				 margin-top:2px;
				margin-bottom:3px;
				text-align: center;
				font-weight: normal;
				text-decoration:none;
				color: black;
				line-height: 32px;	
		}
		.btn3>h5{font-size:1.1em;/*1.15;*/
					font-weight:normal;
					line-height:28px;
					margin-top:8px;
					color:black;
					margin-bottom:10px;
		}
		a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}

/*****************************************/	