.box1 {margin:0 auto;
	height:auto;
		max-width: 750px;
}
.box2 {width:40%;
			max-width:600px;
			min-width:200px;
			margin:0 auto;
			border: solid #9f9 4px;
			margin-top:20px;
}
.box2>p{padding-left:10px;
				padding-right: 5px;
				font-size: 1.2em;
}
.box3{width:30%;
		border: solid orange 4px;
		padding-left:10px;
		min-width:90px;
}
.box3>p{margin:5px 5px 5px 5px;
			color:black;
}
.block_ {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_2 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	line-height:25px;
    }
.block_3 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 36pt;
	line-height: 25px;
    }
.block_4 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
	line-height: 20px;
    padding-top: 0
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	line-height: 20px;
    text-align: center
    }
.calibre {
    color: #F00;
    display: block;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 20pt;
    margin-right:15pt;
	
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 25px;/*1.2;*/
    white-space: pre-wrap
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.tab {
    line-height: 1.2;
    white-space: pre
    }
.text_ {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

