
.box1{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#f5fff2;
		border: 5px solid orange;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		text-decoration:none;
		margin-bottom:20px;
		text-decoration:none !important;
}
.box1>h1{text-decoration:none !important;
}
.box1:hover{
			background-color:white;
			color:black;
}
.box1>p:hover{
			color:black;
}
.box2{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#eaffef;
		border: 5px solid green;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		margin-bottom:20px;
}
.box2:hover{
			background-color:white;
			color:black;
}
.box2>p:hover{
			color:black;
}
.box3{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#ffffcc;/*f5fff2;*/
		border: 5px solid blue;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
}
.box3:hover{
			background-color:white;
			color:black;
}
.box3>p:hover{
			color:black;
}
.box4 {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
}
.box4>h2{ font-size: 2em;/*4em;*/
				text-align:center;
				color:white;
}
.box4a {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
}
.box4a>h2{ font-size: 2.5em;/*top spacer*/
				text-align:center;
				color:white;
}
.boximage4 {  /*This is a div*/
				margin-top:2.3em;
				width: 100%;
				position:center;
				text-align:center;
				display:inline-block;
				margin-bottom:-1em;
				margin-right:0 auto;
				margin-left:0 auto;
}
@media all and (max-width:450px) {.boximage4 {margin-top:-1em; } }
.box5{ width:95%;
}	

.box6{width:60%;
		height:auto;
		
		max-width:600px;
		margin: 0 auto;
		margin-top:-30px;
		background-color:#fff9ff;/*#fffff2;*/
		border: 5px solid brown;
		font-family: "Segoe UI Symbol",Verdana, sans-serif;
		text-align:center;
		text-decoration:none;
		margin-bottom:20px;
		text-decoration:none !important;
}
.box6>h1{text-decoration:none !important;
}
.box6>h2{text-decoration:none !important;
			padding: 0px;
			margin-top:3px;
			margin-bottom:12px;
}
.box6>h3{text-decoration:none !important;
}
.box6:hover{
			background-color:white;
			color:black;
}
.box6>p:hover{
			color:black;
}
a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}

	