/* indent block 3 and block 5
target="blank"*/
.box1{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#f5fff2;
		border: 5px solid orange;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		text-decoration:none;
		
		margin-bottom:20px;
		text-decoration:none !important;
}
.box1>h1{text-decoration:none !important;
}
.box1:hover{
			background-color:white;
			color:black;
}
.box1>p:hover{
			color:black;
}
.box2{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#eaffef;
		border: 5px solid green;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		margin-bottom:20px;
}
.box2:hover{
			background-color:white;
			color:black;
}
.box2>p:hover{
			color:black;
}
.box3{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		background-color:#ffffcc;/*f5fff2;*/
		border: 5px solid blue;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
}
.box3:hover{
			background-color:white;
			color:black;
}
.box3>p:hover{
			color:black;
}
.box4 {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
}
.box4>h2{ font-size: 2em;/*4em;*/
				text-align:center;
				color:white;
}
.box4a {margin: 0 auto;
			background-color: transparent;
			width:55%;
			min-width: 10px;
}
.box4a>h2{ font-size: 2.5em;/*top spacer*/
				text-align:center;
				color:white;
}
.boximage4 {  /*This is a div*/
				margin-top:2.3em;
				width: 100%;
				position:center;
				text-align:center;
				display:inline-block;
				margin-bottom:-1em;
				margin-right:0 auto;
				margin-left:0 auto;
}
@media all and (max-width:450px) {.boximage4 {margin-top:-1em; } }
.box5{ width:95%;
}	

.box6{width:60%;
		height:auto;
		min-height:60px;
		max-width:600px;
		margin: 0 auto;
		margin-top:-30px;
		background-color:#fff9ff;/*#fffff2;*/
		border: 5px solid brown;
		font-family: "Segoe UI Symbol", sans-serif;
		text-align:center;
		text-decoration:none;
		
		margin-bottom:20px;
		text-decoration:none !important;
}
.box6>h1{text-decoration:none !important;
}
.box6:hover{
			background-color:white;
			color:black;
}
.box6>p:hover{
			color:black;
}			
img.resize4 {				
				margin: 0 auto;
				padding: 0px;
				width:100%;
				overflow: hidden;
				margin-top:10px;
				text-align:center;
				min-width: 200px;
				max-width:1500px;
				opacity: 1;
				margin-right:0 auto;
				margin-left:0 auto;
}

.block_ {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_2 {
    color: black;
    display: block;
    font-family: "Segoe UI Symbol", sans-serif;
    font-size: 1.41667em;
	 line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    color: black;
    display: block;
    font-family: "Segoe UI Symbol", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left:25;
    padding-right:15;
    padding-top: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    color: black;
    display: block;
    font-family: "Segoe UI Symbol", sans-serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    color: black;
    display: block;
    font-family: "Segoe UI Symbol", sans-serif;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_7 {
    color: black;
    display: block;
    font-family: "Segoe UI Symbol", sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    color: black;
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_9 {
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    color: black;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 0;
    padding-top: 0
    }
.block_11 {
    color: black;
	
    display: block;
	float:right;
    font-size: 1.3em;
	color:green;
	background-color:pink;
	text-align:right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 50;
    padding-top: 0;
	border: 2px solid blue;
    }
	.block_11:hover{
			background-color:white;
			color:black;
}
.block_11>p:hover{
			color:black;
}
.block_12 {
    color: black;
    display: block;
	float:left;
	/*width:20%;*/
    font-size: 1.3em;
	color:green;
	background-color:pink;
	text-align:left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 50;
    padding-top: 0;
	border: 2px solid blue;
    }
.block_12:hover{
			background-color:white;
			color:black;
}
.block_12>p:hover{
			color:black;
}
.calibre {
    color: #F00;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-weight: normal;/*bold;*/
    line-height: 1.2;
	
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    height: 12pt;
    width: 12pt
    }
.calibre4 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    height: 12pt;
    line-height: 1.2;
    width: 12pt
    }
.calibre6 {
    font-weight: normal;/*bold*/
    }
.text_ {
    color: #00F;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }
.text_2 {
    color: #00F;
    font-size: 1.33333em
    }
.text_3 {
    color: #00F;
    font-size: 1.5em;
    line-height: 1.2;
    text-decoration: underline
    }
.text_4 {
    color: #00F;
    line-height: 1.2
    }
.text_5 {
    color: #00F;
    text-decoration: underline
    }
.text_6 {
    color: #00F
    }
.text_7 {
    font-size: 1.33333em
    }
.text_8 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
	/*@media all and (max-width:450px) {.box1 { display:none; } }	*/
@media all and (max-width:450px) {.box4 { font-size:0.3em; } }
@media all and (max-width:450px) {.box4a { font-size:0.3em; } }		
/*@media all and (max-width:950px) {.box4 { font-size:0.75em; } }*/	
	/*@media all and (max-width:450px) { body { font-size:0.65em; } }	*/
a{text-decoration:none !important;

}
#{text-decoration:none !important;
}
