/* FixThatNowCSS.css*/
 
 body {
				/*margin: 7px;
				padding: 7px;*/
				background-color: #dddddd; /*blue;/*#-->*/
				font-family:  Helvetica, Lucida, sans-serif;
				}
		  div {
               width: 50%;
               margin-left: auto;
			   margin-right: auto;
            } 								
			
			
 
 article, html, body, div, form, label, section, p {
	 margin: 0;
	 padding: 0;
 }
 h1,  h3, h4, h5, h6, p { font-weight:normal; }
 img { border: 0; }
 
 /* home page Styles */
 h1 {
	 font-family: Helvetica, Lucida, sans-serif;
	 font-size: 2em;
	 letter-spacing: 1px;
	 text-align: center;
	 margin-top: 1px;
	 padding-top: 1px;
	 
 }
h3 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 22px;
	color: #069;
	text-shadow: 2px 2px 3px #999;
	
}
#container { 
				width: 2%;
				background: #eee;
				background-color: #fffdf9; /*#ffeab7; /*#ffe099; /*#ffe6b5; /*#fc9;/*#ddd;*/
				margin: 0 auto; 
				margin-top: -20px;
				padding: 30px 0px;
				height: auto; /*1500px;*/
	}
img.center { 
				text-align: center;
				display: block;
				margin: 0 auto;
				padding:-100px;
				
			
}
				
img.right {padding:-100px;
				padding-left: 30px;
				padding-top:18px;
				text-align: right;
				display:inline-block;
				float:left;
			
			}
img.left { padding: -100px;padding-top:20px;
			display:inline-block;
			float:right;
			}
img.sew {	text-align: right;
				display:inline-block;
				float:left;
				padding-bottom:20px;
				margin-bottom: 40px;
				padding-left: 20px;
}	
img.Tools {	
			 padding-top:30px;
			padding-right: 70px;
			display:inline-block;
			float:right;
			text-align:right;
			}	

.boxA { margin: 0 auto;
			
			width: 95%;
			height: auto;
			background-color: #ddd; /*white;*/
}
.boxB {		margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				margin-bottom: 2px;
				width: 55%;
				border-left: 10px solid black;
				border-right:10px solid black;
				
				padding: .5px 10px 10px 10px;
				background-color:orange; /*#f66;/*white;/*  */
				color: #000;
				background-margin: 0 auto;}
.boxB h2 {
				font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2.2em;
				text-align: center;
				padding: 0px;
				margin: 10px 0px 0px 0px;
}
.boxC{ margin: 0 auto;
			margin-top: -30px;
			margin-bottom: 20px;
			width: 95%;
			height: auto;
			background-color: #ddd; /*white;*/
}			
#box1 {
				margin-top:-15px;
				margin-left:auto;
				margin-right:auto;
				margin-bottom: -5px;
				width: 57%;
				height: auto;
				border-radius: 5px;
				
				background-color:blue;/*#f66;*/
				color: yellow; /*#000;*/
				padding:  10px 10px 1px 10px; 
					}
#box1 h1 
				{font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2em;
				line-height: 40px;
				text-align: center;
				}				
.box2 {
				margin-top:10px;
				margin-left: auto;
				margin-right:  auto;
				width: 75%; /*65%;*/
				height: auto;
				
				background-color:green; /*#336699;*/
				border-radius: 5px;
				color: #fff;
				
}
.box2 h1 
				{font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2.5em;
				font-weight:bold;
				color: white;
				padding:10px 10px 13px 10px;
				
				text-align: center;
				}	

.box3 {/*blue box with white text 181 Congressmen etc.*/
				
				width: 60%;
				height: auto;
				border: 14px solid #ddd; 
				background-color:purple;  /*#999933; /*red;/* /*#336699;*/
				margin: 0 auto;
				margin-top:-15px;
				color: #fff;
				padding:  10px 30px 2px 30px; 
				margin-bottom:50px;
}
.box3 h1 
				{font-family:  Helvetica, Lucida, sans-serif;
				font-size: 2em;
				font-weight:bold;
				color: yellow;
				line-height: 40px;
				text-align: center;
				
}	
.box3:hover {
				background-color:blue; /*#7ba7e1;/*#ff73b9;/*black; /*#999933; /*green;/*#f66;*/
				
				color: red;/*yellow*/
				border: 14px solid red;
				border-color: red;/*#f66;  */
				}
/*-------------------------------------------------------------*/			
		
	/* --------------------------------------------------------------*/		
			
		
			.btn2:hover {
				background-color:red;/*#f66;*/
				color: yellow;/*black;*/
				border-radius: 5px;
				border-color: black;/*#f66;  */
				border-top: 2px solid #CCCCCC;
				border-right: 2px solid #333333;
				border-bottom: 2px solid #333333;
				border-left: 2px solid #CCCCCC;
				/*width:150px;*/}
			.btn2 {
			  font: bold 26px Arial;
			  text-decoration: none;
			  background-color: #EfEfEE;/*red;/**/
			  color: #333333;
			  padding:3px 12px 4px 10px;
			  width: auto;
			  border-top: 2px solid #CCCCCC;
			  border-right: 2px solid #333333;
			  border-bottom: 2px solid #333333;
			  border-left: 2px solid #CCCCCC;
			  border-radius: 5px;
}
.btn3 {
				text-decoration: none;
				text-align: center;
				color: yellow;
	}
			.h_line {width: 40px;color: black;}
			.small  {font-size: 17px;color:blue;font-weight:normal;line-height:1px;text-align:center;  padding-bottom:30px; margin-left:0 auto; margin-right: 0 auto; }
			.bigger {font-size: 26px; font-weight: bold;color: black;}
			.larger {font-size: 36px;color: #ff4848;/*yellow; /**/}
			.tooltip>h3 {font-size:12px;line-height: 45px;}
			.yellow {color:  blue; font-size:21px;}			
 