html {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

::selection {
  background-color: #fefefe;
  color: #141414;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 0;
}

hr {
    margin: 4rem auto;
    width: 80%;
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.thin {
    font-weight: 400;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* navigation bar starts here */
nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: rgba(0, 0, 0, 0.3);/*transparent;*/
    z-index: 10;
    overflow: hidden;
}

nav li {
    color: #fefefe;
}

.navbar-logo {
    height: 70%;
    position: relative;
    top: 0.7rem;
}

.desktop-navbar, .mobile-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-navbar {
    float: right;
    height: 5rem;
    line-height: 5rem;
}

.desktop-navbar li {
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    width: 12rem;
    height: 5rem;
}

.desktop-navbar li:hover {
    background-color: #23ce6b;
}

.mobile-navbar {
    display: none;
    position: fixed;
    background: #23ce6b;
    right: 0;
    top: 0;
    width: 40rem;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.mobile-navbar li {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

.close-mobile-navbar {
    cursor: pointer;
    color: #fefefe;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.ion-md-close {
    font-size: 4rem
}

.navbar-mobile-button.ion-md-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 1.5rem;
    color: #fefefe;
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
}

nav li a {
    display: inline-block;
    height: 5rem;
    width: 100%;
    text-align: center;
}

.hidden {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
/* navigation bar ends here */

/* hero section starts */

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background:  /* 45% 20% /cover url("../img/markus-spiske-n52HL8hmsdg-unsplash.jpg");*/
	center/cover url("../img/PloverPrtaller1.jpg");
    z-index: 0;
    margin-top: -5rem;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.45;
    z-index: -1;
}

.hero-caption {
    position: absolute;
    top: 50%;
    color: #fefefe;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 8px;
    margin-left: 10%
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #23ce6b;
}

.hero-sub-caption {
    font-family: "Source Sans Pro", sans-serif;
    width: 88%;
    font-weight: 400;
    font-size: 1.6rem;
}

.hero-sub-caption p {
    text-align: left;
    margin: 0.5rem 0 0 0;
}

.green-button {
    display: block;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #23ce6b;
    background: #23ce6b;
    color: white;
    width: 10rem;
    height: 3.1rem;
    line-height: 3rem;
}

.green-button:hover {
    border-color: #fefefe;
    color: #141414;
}

.hero .green-button {
    margin: 2rem 0;
    width: 12rem;
    line-height: 2.7rem;
}

.green-button > .text {
    width: 100%;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.ion-md-arrow-forward {
    position: relative;
    font-size: 1.5rem;
    margin-left: 0.7rem;
}

.scroll-down-cue {
    position: absolute;
    bottom: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: white;
    text-align: center;
}

.ion-ios-arrow-down {
    font-size: 2.5rem;
}

/* hero section ends */

/* call for people section starts */
#details {
    position: relative;
}

.call-for-people {
    position: relative;
    background: center/cover url("../img/CNisthereStrength3notext.jpg");
    z-index: 0;
    min-height: 100vh;
}

.call-for-people-content {
    padding: 0 5%;
    color: #fefefe;
}

.call-for-people-caption {
    font-size: 3em;
}

.call-for-people-text {
    font-size: 1.5em;
}

.call-for-people-text>p {
    margin: 0.5rem 0 0 0;
}

.call-for-people .green-button {
    margin-top: 4rem;
}
/* call for people section ends */

/* plan and resources section starts */
.plan-resources {
    position: relative;
    min-height: 100vh;
    background: center/cover url("../img/wake_up_cp.jpg");
    z-index: 0;
    overflow-x: hidden;
}

.plan-resources-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.7;
}

.info-box {
    position: relative;
    background: rgb(35, 206, 107);
    background: rgba(35, 206, 107, 0.8);
    padding: 4% 4% 4% 4%;
    border-radius: 0.2rem;
    margin: 5% auto;
}

.info-box>ul {
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    text-align: center;
}

.info-box>ul>li {
    margin: 0.5rem 0 0 0;
}

.info-box .learn-more-button {
    margin: 0 auto;
}

.info-box > h2 {
    color: #141414;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.info-content {
    line-height: 1.5;
    font-size: 1rem;
}

.learn-more-button {
    display: block;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #fefefe;
    border-radius: 0.2rem;
    background: #fefefe;
    color: #141414;
    width: 10rem;
    margin-top: 2rem;
    height: 3.1rem;
    line-height: 2.6rem;
    text-align: center;
}

.learn-more-button .ion-md-arrow-forward {
    top: 0.15rem;
}

.learn-more-button:hover {
    border-color: #141414;
}
/* plan and resources section starts */

/* footer starts */
footer {
    position: relative;
    color: #fefefe;
    padding: 4% 4% 0 4%;
}

footer h2 {
    font-size: 3rem;
}

.footer-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}

footer .dark-overlay {
    opacity: 0.8;
}

.social-site {
    margin: 1rem 0 0 0;
}

.social-site-link {
    display: inline-block;
    margin-left: 0.5rem;
}

.ion-logo-twitter {
    color: #1da1f2;
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
}

.ion-logo-facebook {
    color: #4967a9;
    font-size: 2rem;
    position: relative;
    top: 0.3rem;
}

.updates-on {
    background: rgb(39, 251, 107);
    background: rgba(39, 251, 107, 0.65);
    padding: 5%;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    color: #141414;
}

.benefits-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
}

.updates-on div {
    padding: 0.8rem 0;
}

.updates-on p {
    display: inline-block;
    width: 90%;
    margin: 0;
    padding: 0;
}

.updates-on a {
    color: #fefefe;
    font-weight: 600;
    text-decoration: underline;
}

.updates-on a:hover {
    background-color: #fefefe;
    color: #141414;
}

.ion-md-checkmark {
    display: inline-block;
    width: 6%;
    vertical-align: top;
    color: #fefefe;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

footer hr {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}
/* footer ends */

/* maximum width 992px */
@media (max-width: 992px) {
    .benefits-section {
        margin-top: 5rem;
    }
}

/* maximum width 750px */
@media (max-width: 750px) {
    footer {
        padding-top: 10%;
    }

    footer h2 {
        font-size: 2rem;
    }

    .benefits-section h2 {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .desktop-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .navbar-mobile-button.ion-md-menu {
        display: block;
    }
}

/* maximum width 600px */
@media (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    .hero-caption {
        left: 50%;
        margin: 0;
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }



    .box-2 > h2 {
        font-size: 2.8rem;
    }

    .info-box {
        width: 85%;
    }
}

/* maximum width 550px */
@media (max-width: 550px) {
    h1 {
        font-size: 3.3rem;
        font-weight: 700;
    }

    .hero-caption {
        margin: 0 auto;
    }

    .call-for-people {
        font-size: 0.9rem;
    }

}

/* maximum width 450px */
@media (max-width: 450px) {
    h1 {
        font-size: 2.7rem;
    }

    .call-for-people {
        font-size: 0.76rem;
    }

    .info-box h2 {
        font-size: 2.3rem;
    }

    .info-box {
        width: 90%;
    }

    .updates-on p {
        padding-top: 0;
        width: 87%;
    }
}

/* maximum width 350px */
@media (max-width: 350px) {
    h1 {
        font-size: 2.5rem;
    }

    .hero-caption {
        margin-left: 0;
        padding: 0.25rem
    }

    .call-for-people {
        font-size: 0.7rem;
    }

    .info-box h2 {
        font-size: 2rem;
    }

    .copyright {
        font-size: 0.8rem;
    }

    .updates-on p {
        width: 87%;
    }
}

/* minimum width 1500px */
@media (min-width: 1500px) {
    .info-box > h2 {
        font-size: 3.1rem;
    }
}
