html {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

body {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1rem;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #e2e2e2;
}

* {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

::selection {
    background-color: #008833;
    color: #fefefe;
}

h1,
h2 {
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #23ce6b;
}

a:visited {
    color: #0099ff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    z-index: -1;
}

/* navigation bar starts here */
nav {
    position: relative;
    width: 100%;
    height: 5rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: hidden;
}

nav a, nav a:visited {
    text-decoration: none;
}

img.navbar-logo {
    height: 100%;
    width: auto
}

.desktop-navbar, .mobile-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-navbar {
    float: right;
    height: 5rem;
    line-height: 5rem;
}

.desktop-navbar li {
    color: #fefefe;
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 3rem;
}

.desktop-navbar li:hover {
    background-color: #23ce6b;
}

.mobile-navbar {
    display: none;
    position: fixed;
    background: #23ce6b;
    right: 0;
    top: 0;
    width: 40rem;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.mobile-navbar li {
    color: #fefefe;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

.close-mobile-navbar {
    cursor: pointer;
    color: #fefefe;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.ion-md-close {
    font-size: 4rem
}

.navbar-mobile-button.ion-md-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 1.5rem;
    color: #fefefe;
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
}

.hidden {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
/* navigation bar ends here */

/* blog hero section starts here */
.blog-hero {
    position: relative;
    z-index: 0;
    background: center/cover
        url("../img/mika-baumeister-Ke7gT5KnJgY-unsplash.jpg");
    width: 100%;
    height: 70vh;
    color: #fefefe;
    -webkit-box-shadow: -5px 22px 83px -38px #7A7A7A;
            box-shadow: -5px 22px 83px -38px #7A7A7A;
    margin-top: -5rem;
}

.blog-title {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 70%;
}

.blog-title > h2 {
    text-align: left;
    font-size: 3rem;
}
.blog-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    width: 80%;
}
/* blog hero section ends here */

/* blog body starts here */
main {
    background: #fefefe;
    padding-bottom: 4rem;
}

section {
    margin-top: 5rem;
}

section h3 {
    font-weight: 400;
}

hr {
    margin: 4rem auto;
    width: 80%;
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(rgba(0, 0, 0, 0)),
        color-stop(rgba(0, 0, 0, 0.75)),
        to(rgba(0, 0, 0, 0))
    );
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.blog-para {
    margin: 3rem auto 0 auto;
    line-height: 1.5;
}

.section-title {
    margin-bottom: 1.5rem;
}

.section-title h2 {
    font-size: 2.7rem;
    font-weight: 400;
}

.section-subtitle {
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0.75rem 0 0 0;
}

.subsection-title {
    font-size: 2rem;
}

.title-emphasize {
    font-weight: 600 !important;
}

.emphasize-this.green-focus {
    font-weight: 400;
    color: #008833;
    font-size: 2em;
}

.emphasize-this {
    font-size: 1.6em;
    text-align: center;
}

.center-text {
    margin: 0 auto;
    text-align: center;
}

.highlight {
    background: #80e0a8;
}

.skip-badnews {
    text-align: center;
}

.skip-badnews .ion-md-download {
    width: 9rem;
    margin: 0 auto;
    font-size: 8rem;
    color: #23ce6b;
}

.bad-news-box,
.good-news-box {
    border-radius: 8px;
    line-height: 1.5;
    padding: 1.2rem 1.5rem;
    position: relative;
    -webkit-box-shadow: -5px 22px 83px -38px #7A7A7A;
            box-shadow: -5px 22px 83px -38px #7A7A7A;
}

.bad-news-box > h3,
.good-news-box > h3,
.bad-news-box > h4,
.good-news-box > h4 {
    font-size: 2.3rem;
    margin: 0rem 0 0 0;
    font-weight: 600;
    text-align: center;
}

.bad-news-box {
    border: 1px solid #e80606;
}

.bad-news-box > h3 {
    color: #e80606;
}

.bad-news-box > ol,
.good-news-box > ol,
.bad-news-box > ul,
.good-news-box > ul {
    padding: 0 0 0 1rem;
}

.bad-news-box > ol > li,
.good-news-box > ol > li,
.bad-news-box > ul > li,
.good-news-box > ul > li {
    margin: 0 0 2rem 0;
}

.good-news-box {
    border: 1px solid #23ce6b;
}

.good-news-box > h3,
.good-news-box > h4 {
    color: #008833;
}

.single-image-box {
    padding: 2% 2% 1rem 2%;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: -5px 22px 83px -38px #7A7A7A;
            box-shadow: -5px 22px 83px -38px #7A7A7A;
}

.image-title {
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.image-text {
    max-width: 95%;
}

.image-credits {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 0.95rem;
    padding-right: 2%;
    margin-top: 0.5rem;
}

.single-image-box img {
    width: 100%;
}

.double-image-box {
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: -5px 22px 83px -38px #7A7A7A;
            box-shadow: -5px 22px 83px -38px #7A7A7A;
    padding: 1%;
}

.double-image-box img {
    width: 100%;
}

.first-img {
    padding-right: 1% !important;
}

.second-img {
    padding-left: 1% !important;
}

.quoted-text {
    border: 1px solid #e80606;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: -5px 22px 83px -38px #7A7A7A;
            box-shadow: -5px 22px 83px -38px #7A7A7A;
    margin: 2rem 5% 0 5%;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    padding: 4% 3% 4% 4% !important;
}

.question-mark {
    display: block;
    width: 10rem;
    height: auto;
    margin: 0 auto;
}

video {
    width: 100%;
}
/* blog body ends here */

/* footer starts */
footer {
    background: #141414;
    color: #fefefe;
    padding: 4% 4% 0 4%;
}

footer h2 {
    font-size: 3rem;
}

footer hr {
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(rgba(255, 255, 255, 0)),
        color-stop(rgba(255, 255, 255, 0.75)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
    );
}

footer a,
footer a:visited {
    color: #fefefe;
    text-decoration: none;
}

.social-site {
    margin: 1rem 0 0 0;
}

.social-site-link {
    display: inline-block;
    margin-left: 0.5rem;
}

.ion-logo-twitter {
    color: #1da1f2;
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
}

.ion-logo-facebook {
    color: #4967a9;
    font-size: 2rem;
    position: relative;
    top: 0.3rem;
}

.updates-on {
    background: -webkit-gradient(linear, left top, right top, from(#23ce6b), to(#27fb6b));
    background: linear-gradient(to right, #23ce6b, #27fb6b);
    width: 90%;
    padding: 5%;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    color: #141414;
}

.benefits-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
}

.updates-on p {
    display: inline-block;
    width: 90%;
}

.updates-on p {
    margin: 0;
    padding: 0.8rem 0;
}

.ion-md-checkmark {
    display: inline-block;
    vertical-align: top;
    padding: 0.8rem 0;
    color: #fefefe;
    font-size: 1.6rem;
    margin-right: 0.5rem;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}
/* footer ends */


/* maximum width 991px */
@media (max-width: 991px) {
    footer {
        padding-top: 10%;
    }

    .first-img {
        padding-right: 0% !important;
    }

    .second-img {
        padding-left: 0% !important;
    }

    .desktop-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .navbar-mobile-button.ion-md-menu {
        display: block;
    }
}


/* maximum width 750px */
@media (max-width: 750px) {
    html {
        font-size: 16px;
    }
}

/* maximum width 600px */
@media (max-width: 600px) {
    .blog-title {
        min-width: 90%;
    }

    .blog-title > h2 {
        text-align: left;
        font-size: 2.5rem;
    }
    .blog-subtitle {
        font-size: 1.2rem;
    }
    .section-title h2 {
        font-size: 2rem;
    }

    .section-subtitle {
        font-size: 1.3rem;
    }

    .bad-news-box > h3,
    .good-news-box > h3,
    .bad-news-box > h4,
    .good-news-box > h4 {
        font-size: 1.8rem;
    }
    .emphasize-this {
        font-size: 1.4rem;
    }

    .emphasize-this.green-focus {
        font-size: 1.5em;
    }

    footer h2 {
        font-size: 2rem;
    }

    .benefits-section h2 {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}

/* maximum width 450px */
@media (max-width: 450px) {
    .updates-on p {
        display: block;
        padding-top: 0;
    }
}

/* maximum width 350px */
@media (max-width: 350px) {
    .copyright {
        font-size: 0.8rem;
    }
}
