
	/*Plan2CSS.css*/


@font-face {
				font-family: 'BerkshireSwash-Regular';
				src: url (Fonts/BerkshireSwash-Regular.ttf) ;
				}
		/*-------------------------------------------*/

		body {
				margin: 0px;
				padding: 0px;
				background-color: black;
				background-color: #59955C; /*#85bb65; /*#59955C; /*lightblue;*/
				/*background: linear-gradient(to right, black, #f00, black); /*#dddddd);*/
				background: linear-gradient(to right, blue, green, blue);
				background: white;
				font-family:  Helvetica;/*, Lucida, sans-serif;*/
				}
			div {
               width: 90%;
               margin-left: auto;
			   margin-right: auto;
            }
		/*	---------------------------------------------*/
			img.right {float: right; padding:0px 20px 15px 20px;
			margin: 0 auto;}
			img.left {float:left; padding: 0px 20px 0px 35px;
			}

.imagecontainer{
				height:auto;
				width:90%;
				max-width:1000px;
				margin-top:50px;
				background-color:red;
}
img.right {float: right; padding:0px 20px 15px 20px;
			margin: 0 auto;}
			img.left {float:left; padding: 0px 20px 0px 35px;
			}
a:link {text-decoration:none;
			color:#0099ff;/*blue;/*purple;/*red;*/
}

	.sampleMovie {
					display:inline-block;
					min-width:275px;/*300px;/*250px;*/
					margin-top: 0px;
					margin-bottom:0px;
					opacity:1;
					z-index:-1;
	}
.sampleMovie2 {
					display:inline-block;
					/*min-width:275px;300px;/*250px;*/
					margin-top: 10px;
					opacity:1;
					z-index:-1;
					text-align:center;
	}
 .sampleMovie2 , .sampleMovie{
    width: 90%;/*100%;*/
 }
.middle{
	text-align:center;
}

.clear{
clear:both;
}


.image1{		/*This is a div*/					/*vault*/
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:17px;
			width: 100%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;

	}
	img.resize1 {         /* vault*/
				/*position:center;*/

				width:90%;
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 100px;/*350px;*/
				max-width:575px;/*800px;*/
				margin-left: 0px;
				border-top:6px solid brown;
				border-right:5px solid black;
				border-bottom: 6px solid brown;
				border-left: 5px solid black;
}
/*-----------------------------------------------*/
.image2{		/*This is a div*/					/*vault*/
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:-10px;/*-40px;*/
			width: 100%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;

	}
img.resize2 {         /* vault*/
				/*position:center;*/

				width:85%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 100px;/*350px;*/
				max-width:600px;/*800px;*/
				margin-left: 0px;
				border-top:6px solid brown;
				border-bottom: 6px solid brown;
				padding-bottom:-10px;

}
/*------------------------------------*/
.image3 {
	text-align: center;
}

.resize3 {
	width: 49%;
}
/*------------------------------------*/
.image4{
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:10px;
			margin-bottom: -25px;
			width: 95%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;


	}
img.resize4 {         /* vault*/
				/*position:center;*/

				width:95%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 500px;/*350px;/*100px;*/
				max-width:800px;/*800px;*/
				margin-left: 0px;
				border-top:6px solid brown;
				border-bottom: 6px solid brown;
				margin-bottom:20px;

}
/*------------------------------------*/
.image5{
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:10px;
			margin-bottom: -11px;
			width: 100%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;

	}
img.resize5 {
				width:95%;
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 500px;/*350px;/*100px;*/
				max-width:800px;
				margin-left: 0px;
				border-top:6px solid gray;
				border-bottom: 6px solid gray;
				margin-bottom:20px;
}
.image6{
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:10px;
			margin-bottom: -25px;
			/*width: 60%;*/
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		}
.image6>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:-20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
.image6>h2{text-align:center;
					font-weight:bold;
					font-size:1.2em;
					margin-bottom:0px;
}
img.resize6 {     width:70%;/*100%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 350px;/*200px;*/
				max-width:800px;/*800px;*/
				margin-left: 0px;
				border-top:6px solid brown;
				border-bottom: 6px solid brown;
				margin-bottom:20px;
	}
.image6a{
			margin-left:0 auto;
			margin-right:0 auto;
			margin-top:10px;
			margin-bottom: -25px;
			width: 80%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		}
.image6a>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:-20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
.image6a>h2{text-align:center;
					font-weight:bold;
					font-size:1.2em;
					margin-bottom:5px;
}
img.resize6a {     width:100%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 400px;/*350px;*/
				max-width:1000px;/*800px;*/
				margin-left: 0px;
				border-top:2px solid brown;
				border-bottom: 2px solid brown;
				margin-bottom:20px;

}
.image7{
			/*margin-left:0 auto;
			margin-right:0 auto;*/
			margin-top:10px;
			margin-right:50px;
			margin-bottom: -25px;
			width: 30%;
			min-width: 150px;
			position:left;
			text-align:left;
			float:left;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		}
.image7>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
img.resize7 {     width:100%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 150px;/*350px;*/
				max-width:800px;/*800px;*/
				margin-left: 30px;
				border-top:6px solid brown;
				border-bottom: 6px solid brown;
				margin-bottom:20px;

}
.image8{	margin-right:50px;
			width: 12%;
			min-width: 75px;
			margin: 0 auto;
			margin-top:-30px;text-align:center;
			margin-bottom: -43px;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		}
.image8>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
img.resize8 {     width:100%;/*90%;*/
				overflow: hidden;
				margin-top:-50px;
				display: inline;
				min-width: 50px;/*75px;/*350px;*/
				max-width:800px;/*800px;*/
				margin-bottom:20px;

}
/*--------------------------------------------*/
.image9{
			width: 60%;
			min-width: 75px;
			margin: 0 auto;
			margin-top:-10px;text-align:center;
			margin-bottom: -40px;
			padding-left:-30px;
			min-width:200px;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		}
.image9>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
img.resize9 {     width:100%;/*90%;*/
				overflow: hidden;
				margin-top:-50px;
				display: inline;
				min-width: 100px;/*75px;/*350px;*/
				max-width:800px;/*800px;*/
				margin-bottom:20px;

}
/*---------------------------------------------*/
.image10{
				margin-left:0 auto;
			margin-right:0 auto;
			margin-top:20px;
			margin-bottom: -11px;
			width: 100%;
			position:center;
			text-align:center;
			z-index: 3;
			background-color: transparent;
			opacity: 1;

		}
.image10>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
img.resize10 {     width:60%;/*90%;*/
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 300px;/*75px;/*350px;*/
				max-width:800px;/*800px;*/
				margin-bottom:20px;

}

/*-------------------------------------------------*/
.image11{
			width: 85%;
			min-width: 75px;
			margin: 0 auto;
			margin-top:20px;text-align:center;
			margin-bottom: 0px;/*-43px;*/
			padding-left:-30px;
			min-width:200px;
			z-index: 3;
			background-color: transparent;
			opacity: 1;
		}
.image11>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
}
img.resize11 {     width:100%;
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 150px;
				max-width:800px;
				margin-bottom:20px;

}
.image12{
			width: 85%;
			min-width: 275px;
			margin: 0 auto;
			height:275px;
			margin-top:-275px;
			text-align:center;
			margin-bottom: -30px;/*-43px;*/
			padding-left:-30px;
			min-width:200px;
			z-index: -1;
			background-color: transparent;
			opacity: 10;
		}
.image12>p{	margin-top:-20px;
				font-size:.8em;
				margin-left:20px;
				margin-right:-20px;
				line-height:20px;
				padding-bottom:20px;
					color: red;
}
img.resize12 {     width:100%;
				overflow: hidden;
				margin-top:0px;
				display: inline;
				min-width: 100px;
				max-width:800px;
				margin-bottom:20px;
				z-index:-1;

}



			.rightimage {float:left;}
			.small {font-size:.8em;}
/*****************************************/
.block_1 {font-size:1.3em;
			line-height:48px;
			margin-top:-30px;
			margin-bottom:-25px;

}
.block_2 {font-size:1.3em;
				line-height:48px;
				margin-top:-20px;
				margin-bottom:10px;
				text-align:center;
}
.block_3 {font-size:1.2em;
			line-height:48px;
			margin-top:20px;
			margin-bottom:0px;
			text-align:center;
}
.block_4{ font-size:1.1em;
				text-align:center;
				margin-top:-20px;
}
.block_9 { text-align:center;
				font-size: 1em;
}
	.block_10{text-align:center;
					color:purple;
					font-size:1.3em;
					font-weight:bold;

		}
	.block_11 {
    color: black;

    display: block;
	float:right;
    font-size: 1em;
	color:green;
	background-color:#fff1e6;/*pink;*/
	text-align:right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 50;
    padding-top: 0;
	border: 2px solid blue;
    }
	.block_11:hover{
			background-color:white;
			color:black;
}
.block_11>p:hover{
			color:black;
}
.block_12 {
    color: black;
    display: block;
	float:left;
	/*width:20%;*/
    font-size: 1em;
	color:green;
	background-color:#fff1e6;/*#fff9f4;/*pink;*/
	text-align:left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 25;
    padding-right: 50;
    padding-top: 0;
	border: 2px solid blue;
    }
.block_12:hover{
			background-color:white;
			color:black;
}
.block_12>p:hover{
			color:black;
}
.block_13>p {  padding-top:-200px;
						margin-top:-200px;
					color:black;
				opacity:1;

}
.top-left{ position: absolute;
				top:8px;
				left:16px;
}
/*.box1 {width:100%;s
			background: linear-gradient(to right, blue, green, blue);

}*/
.box1a{	width:70%;
			max-width:900px;

			margin:0 auto;
			background-color: transparent;
			border: 5px solid red;
			height:auto;
}
.box1a>p{ text-align:center;
			margin-top:5px;
			margin-bottom:5px;
			font-size:1.3em;
			margin-left:7px;
			margin-right:7px;
}
.box1a>h3{font-size:2.3em;
}
.box2{ display:inline-block;
			width:100%;
			margin:0 auto;
			height:auto;
			background-color:transparent;
			margin-top:-40px;
}
.box2>h4{text-align:center;
}
.box3{  /*Blackooze credit*/
			/*display:inline-block;*/
			width:30%;
			float:right;
			margin-top:0px;
			margin-left:20px;
			line-height:15px;
			background-color:transparent;
			z-index:1;
}
.box4{ /*SmokestackPapers credit*/
			/*display:inline-block;*/
			margin: 0 auto;
			width:30%;
			float:right;
			margin-top:-25px;
			margin-left:20px;
			margin-bottom:30px;
			line-height:15px;
			background-color:transparent;
			z-index:1;
}
.box5{ width:95%;
}
.box6{
}
.box7{
}
.box7a{  display:inline block;
				margin: 0 auto;
				margin-top: -20px;
				height: auto;
				font-family:  Helvetica, Lucida, sans-serif;
				background-color:transparent;/*#7aff87;/*white;/*#ddd;*/
				width:85%;/*auto;/*90%;*/
				/*max-width:600px;*/
				min-width:200px;
				padding-left: 0px;
}

.box7a>h2
				{text-align: left;
				font-weight:normal;
				line-height:40px;/*30px;*/
}
.box7a>h3  {text-align:left;
				font-weight:normal;
				line-height:33px;
				font-size:1.05em;
}
.box7a>h5{text-align:center;
				font-size:1.3em;
				margin:0px;
				margin-top:0px;
				font-weight:normal;
}
.box7b{  display:inline block;
				margin: 0 auto;
				margin-top:23px;/*-28px;*/
				margin-bottom: 23px;
				margin-left:20px;
				height: auto;
				min-height:440px;
				font-family:  Helvetica, Lucida, sans-serif;
				background-color:white;/*#ddd;*/
				border: 2px solid green; /* #ff800d;*/
				width:45%;
				float:left;
				min-width:200px;
				padding-top:8px;
				padding-left: 10px;
				padding-bottom:22px;
				background-color: #fff7e6;/*#fff2d9;/*#fff7e6;/*#ffffb5;/*pink;*/
}
.box7b>p {padding-bottom:30px;/*-10px;*/
				color:red;
}
.box7b1{  display:inline block;
				margin: 0 auto;
				margin-top:23px;/*-28px;*/
				margin-bottom: 40px;
				margin-left:20px;
				height: auto;
				font-family:  Helvetica, Lucida, sans-serif;
				line-height:28px;
				background-color:white;/*#ddd;*/
				border: 2px solid green; /* #ff800d;*/
				width:45%;
				float:left;
				min-width:200px;
				padding-top:8px;
				padding-left: 10px;
				padding-bottom:14px;
				background-color: #fff7e6;/*#fff2d9;/*#fff7e6;/*#ffffb5;/*pink;*/
}
.box7b1>p {padding-bottom:-10px;
				color:red;
}

.box7c {margin-left:20px;
			margin-right:20px;
}
.box7c1{margin-left:20px;
}
.box7e {margin-top:-28px;
			margin-left:20px;
}
.box8{width:100%;
			height:auto;
			background-color:pink;
			margin-bottom:20px;
}
.box8>p{ padding: 20px 15px 20px 20px;
}
.box10{width: 70%;
			height:auto;

			margin-top:-35px;
			text-align: center;
			font-size: 0.9em;
			font-weight: normal;/*bold;*/
			text-align: center;
			margin-bottom:-20px;
			padding-bottom: 15px;
			padding-right:30px;
			max-width:900px;
			color: black;
			background-color: white;/*#dddddd; */
			padding: 0 	15px;
			border-top:4px solid black;
			border-bottom:4px solid black;
			border-left:12px solid #ddd;
			border-right:12px solid #ddd;
}
/*---------------------------------------------------*/
.box11 {width:100%;
			background: linear-gradient(to right, blue, green, blue);
			margin-top:-18px;
			border-bottom:4px solid black;
}
.box12 { background-image: _images/carrot1_18.png;
}
.citi {
				width: 90%;/*90%;/*100%;*/
				max-width: 900px;
				height:auto;
				margin: 0 auto;
				margin-top: 15px;
				font-family: ;/*Helvetica, Lucida, sans-serif;*/
				font-size:1.3em;
				line-height: 29px;
				background: linear-gradient(to right, white, #eeeeee, white);
				background-color:#eee;
				border-top: 5px solid black;
				border-bottom:5px solid black;
				border-left:17px solid gray;
				border-right:17px solid gray;
				min-width:250px;
				/*padding-left:-12px;*/

}
.citi>p{   padding: 10px 20px 10px 30px;/*10px 40px 10px 60px;*/
				text-decoration:none;
}
.citi>h1{ text-align:center; /*petroleum companies*/
				font-weight: bold;/*normal;*/
				font-size:1.8em;
				margin-top:-10px;
				margin-bottom:40px;
				line-height:35px;

}
.citi>h2{ text-align:center;
				font-weight: normal;
				font-size:1em;
				margin-top:0px;

}
.citi>h3{text-align:center;
				font-weight: normal;
				font-size:.7em;
				margin-top:-20px;
}
.citi>h4{text-align:center; /*use for obstacles*/
				font-weight: normal;
				font-size:1em;
				margin-top:-25px;
				margin-bottom: 30px;
				margin-left:15px;
				margin-right:12px;
				line-height:35px;
}
.citi>h5 {text-align:center; /*use for obstacles*/
				font-weight: normal;
				font-size:1.5em;
				margin-top:-15px;
				margin-bottom: 0px;/*30px;*/
}
/*---------------------------------------------------*/

.citiA {
				width: 85%;
				max-width: 900px;
				min-width:300px;
				margin: 0 auto;
				margin-top: 15px;
				font-family: ;/*Helvetica, Lucida, sans-serif;*/
				font-size:1.3em;
				line-height: 29px;
				background: linear-gradient(to right, white, #eeeeee, white);
				background-color:#eee;
				padding-top:30px;
				margin-top:-0px;
				/*border-top: 5px solid black;
				border-bottom:5px solid black;
				/*border-left:17px solid gray;
				border-right:17px solid gray;*/
				min-width:250px;
				/*padding-left:-12px;*/

}
.citiA>p{   padding: 10px 20px 10px 30px;/*10px 40px 10px 60px;*/
				text-decoration:none;
}
.citiA>h1{ text-align:center; /*petroleum companies*/
				font-weight: bold;/*normal;*/
				font-size:1.8em;
				margin-top:-10px;
				margin-bottom:40px;
				line-height:35px;

}
.citiA>h2{ text-align:center;
				font-weight: normal;
				font-size:1em;
				margin-top:0px;

}
.citiA>h3{text-align:center;
				font-weight: normal;
				font-size:.7em;
				margin-top:-20px;
}
.citiA>h4{text-align:center; /*use for obstacles*/
				font-weight: normal;
				font-size:1em;
				margin-top:-25px;
				margin-bottom: 30px;
				margin-left:15px;
				margin-right:12px;
				line-height:35px;
}
.citiA>h5 {text-align:center; /*use for obstacles*/
				font-weight: normal;
				font-size:1.5em;
				margin-top:-15px;
				margin-bottom: 0px;/*30px;*/
}
/*---------------------------------------------------*/
.citiB {
				width: 50%;/*100%;*/
				max-width: 780px;
				margin: 0 auto;
				margin-top: 15px;
				font-family: Helvetica, Lucida, sans-serif;
				font-size:1.3em;
				line-height: 29px;
				background: linear-gradient(to right, white, #eeeeee, white);
				background-color:#eee;
				border-top: 4px solid black;
				border-bottom:4px solid black;
				border-left:20px solid gray;
				border-right:20px solid gray;
				min-width:250px;
				max-width:600px;
				padding-left:10px;/*-12px;*/

				}
			.citiB>p{
				padding:20px;
}
			.red {
				color: black;
				font-weight: bold;
				}
			.blue {
				color: black;
				font-weight: bold;
				}
			.n1 {
				color: black;
				font-size: 1em;
				}
				hr {border-width:3px;}
				hr {border-color: green;}
				hr {width:90%; }
				/*<!--hr2 {border-width:5px;width of the hr line element itself}
				hr2 {border-color: green;}
				hr2 {width:40%; }-->*/
				.denierL {display:inline;
				padding: 0px;}

	/*-----------------------------------------------------------*/

/*-------------------------------------------------------------*/

			/*-----------------------------------------*/
			.box10  {text-decoration:none;
			}


.box15 {width: 70%;
				text-decoration: none;
				max-width:600px;
	}
	.box15 >p  {background-color:  #F3F8F4;
				margin-bottom:11px;
				border:3px solid brown;
				text-decoration: none;
				text-align: center;
				font-family: Tahoma, Helvetica, Lucida, sans-serif;
				/*height: auto;*/
				line-height: 25px;
				padding:2px 10px 5px 20px;
				font-family:Tahoma, Helvetica, Lucida, sans-serif;
				color: black;
				font-size: 22px; /* was 21 px*/
				/*text-align: center; */
			    }
	.box15 >h4{font-size: 21px; margin-top: 0px;padding-top:0px; /* was 19px*/
				font-family: Tahoma, Helvetica, Lucida, sans-serif;
				text-decoration:none;
				font-weight:normal;
				line-height: 24px;
				color: black;
				padding-left: 50px;
				}
	.box15 >p {text-decoration:none;
	}
.box15 >p:hover {background-color:#ffcc66;/*#dbdbff;/*#ff73b9;/*black; /*#999933; /*#f66;*/

}


.a {text-decoration:none;
}
.p {text-decoration:none;
}

			.btn3 {
				text-decoration: none;
				text-align: center;
	}
.btnclass1{font-size:1.15em;/*25px;*/
			color: black;
			font-family: TimesNewRoman, Lucida, sans-serif;
			font-weight:normal;
			text-align:center;
			text-decoration:none;
			height:auto;
			padding-left:20px;
			padding-right:20px;
			padding-bottom:3px;
			width:50px;/*140px; */
			background-color:white;/*#ccc;*/
			 border-top: 1px solid #CCCCCC;
			  border-right: 1px solid brown;
			  border-bottom: 1px solid brown;
			  border-left: 1px solid #CCCCCC;
				display:inline-block;
			}
.btnclass1:hover {
				background-color:#CCCCCC;
				color: black;
				/* border-top: 1px solid #CCCCCC;*/
			  border-right: 1px solid brown;/*#333333;*/
			  border-bottom: 1px solid brown;/*#333333;*/
			  /*border-left: 1px solid #CCCCCC;	*/
				width:50px;/*140px;*/
				}
			/*------------------------------*/


		.logobox{
			position: relative;
    width: 100%;
    height: 56px;
    background-color: transparent;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 0px;/*40px;*/
    color: yellow;
    opacity: 1;
		}

		.logobox .image1{
			text-align:left;
		}
		.logobox img.resize1 {
    position: relative;
    display: inline;
    max-width: 110px;
    margin-left: 2%;
    margin-top:-32px;/*-5px;/* -8px;*/
    border: 0;
}
		.logobox2{
			position: relative;
    width: 100%;
    height: 56px;
    background-color: transparent;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 0px;/*40px;*/
    color: yellow;
    opacity: 1;
		}

		.logobox2 .image1{
			text-align:left;
		}
		.logobox2 img.resize1 {
    position: relative;
    display: inline;
    max-width: 110px;
    margin-left: 4%;
    margin-top: -8px;
    border: 0;
}
.a {text-decoration:none !important;
}
.p {text-decoration:none !important;
}
a:active {
  color: #0099ff;/*blue;*/
}

@media (max-width: 800px) {
	.resize3 {
		width: 95%;
	}
}

@media all and (max-width:450px) { body { font-size:0.9em; } }
	/*password dot - &#9679;   bullet - &#8226  */
