


<div class="box7">
					<a href=""class="btn3">						
						<h5> Climate Reality's Favorite<br><span style="font-size:1.4em;"><b>Climate Experts</b></span><br>to follow</h5>
								</div>
							</a>
				<div class="box7">
					<a href=""class="btn3">						
						<h5> Climate Reality's Favorite<br><span style="font-size:1.4em;"><b>Young Climate Activists</b></span><br>to follow</h5>
								</div>
							</a>
							
							<div class="box7">
					<a href=""class="btn3">						
						<p> Celebrities, Politicians<br>CEOs and<br> other Notable People</p>
								</div>
							</a>
							
							<div class="box7">
					<a href=""class="btn3">						
						<p> Trusts,<br>Foundations<br> & PACs</p>
								</div>
							</a>
							
							
							<p class="block_4">&nbsp;</p>
	<p class="block_4">&nbsp;</p>
	<p class="block_">Organizations Tackling Climate Change</p><br><br><br>
	<p class="block_4">&nbsp;</p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="350.org" href="http://350.org" class="text_14">350.org</a><span class="text_10"> is building a global climate movement. They offer you the opportunity to join online campaigns, grassroots organizing, and mass public actions coordinated by a global network active in over 188 countries.</span></p>
	<p class="block_4">&nbsp;</p>
	<!-------------------------------------------------------->
	<p class="block_8"><a target="_blank" title="sunrisemovement.org" href="https://www.sunrisemovement.org/about/" class="text_14">Sunrise Movement</a><span class="text_15"> </span><span class="text_10">Sunrise is a movement to stop climate change and create millions of good jobs in the process. We're building an army of young people to make climate change an urgent priority across America, end the corrupting influence of fossil fuel executives on our politics, and elect leaders who stand up for the health and wellbeing of all people.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="climatevoices.org" href="http://climatevoices.org" class="text_14">Climate Voices</a><span class="text_15"> </span><span class="text_10">Science Speakers Network brings scientists and their fellow citizens together in discussions of climate science and local impacts of climate change. Visit their site to find a speaker near you.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.adventurescience.org" href="http://www.adventurescience.org" class="text_14">Adventurers and Scientists for Conservation</a><span class="text_16"> </span><span class="text_10">mobilizes the outdoor community to gather and share scientific data, driving conservation around the world. Are you a hiker or a climber, or otherwise spending time in the alpine? You can join the ASC&nbsp;</span><a target="_blank" title="www.adventurescience.org/pika" href="http://www.adventurescience.org/pika" class="text_8">Pika</a><span class="text_10">&nbsp;or&nbsp;</span><a target="_blank" title="www.adventurescience.org/snow-and-ice" href="http://www.adventurescience.org/snow-and-ice" class="text_8">Snow &amp; Ice</a><span class="text_10">&nbsp;projects, and contribute valuable data to climate change research.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.alaskawild.org" href="http://www.alaskawild.org" class="text_14">Alaska Wilderness League</a><span class="text_10"> leads the effort to preserve Alaska’s wild lands and waters by engaging citizens and decision makers with a courageous, constant, victorious voice for Alaska. You can find opportunities via their </span><a title="www.alaskawild.org/get-involved/action-center/" href="http://www.alaskawild.org/get-involved/action-center/" class="text_8">Action Center</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.acespace.org" href="http://www.acespace.org/" class="text_14">Alliance for Climate Education</a><span class="text_10"> teaches young people how to fight climate change and take control of their future.&nbsp;ACE has been invited to present its award-winning assembly to more than 1.8 million students in thousands of schools. Students can sign up to be part of the Action Network or apply for a fellowship and anyone can </span><a target="_blank" title="acespace.org/teachers/book" href="http://acespace.org/teachers/book" class="text_8">Book an ACE Assembly</a><span class="text_10">. Reach out to Leah Qusba at </span><a href="mailto:leah@acepsace.org" class="text_8">leah@acepsace.org</a><span class="text_10"> for more information.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="twitter.com/BosClimateCorps" href="https://twitter.com/BosClimateCorps" class="text_14">Boston Climate Corps</a><span class="text_17">&nbsp;</span><span class="text_10">is&nbsp;an emerging volunteer-driven effort to connect the dots between local climate impacts and human-caused global climate disruption through community service and engagement. The Corps aims to build positive relationships with local neighborhoods and communities, raise public and media awareness of climate issues, and build grassroots resiliency to future climate catastrophes. Contact&nbsp;</span><a href="mailto:bostonclimatecorps@gmail.com" class="text_8">bostonclimatecorps@gmail.com</a><span class="text_10">&nbsp;or follow&nbsp;@BosClimateCorps&nbsp;on Twitter to learn more about the Corps and to get involved in Boston, or to start a similar initiative in your city!</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a href="https://callforclimateaction.org/" class="calibre1"><span class="text_18"> </span><span class="text_14">Call for Climate Action</span></a><span class="text_10"> GCCA boosts the effectiveness of diverse organisations whose missions can advance climate </span><span class="text_19">action</span><span class="text_10">. We focus on win-win opportunities to help achieve a safe climate and improve public health, build stronger economies, and enhance quality of life in ways that benefit everyone.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a href="https://chesapeakeclimate.org/" class="text_14">Chesapeake Climate Action Network</a><span class="text_15">:</span><span class="text_10"> Focusing specifically on the Atlantic coast of the United States, the Chesapeake Climate Action (CCAN) is the first organization to address climate change impacts in the Maryland/Virginia region. The area is highly vulnerable as it is home to dozens of </span><a target="_blank" href="https://borgenproject.org/national-security-and-global-poverty/" class="text_8">defense </a><span class="text_10">facilities, while also being low-lying and densely populated.CCAN works at the grassroots level to spread awareness, introduce the general public into the political process and influence environmental legislation. More recently, their work has been focusing on making use of Virginia’s vast renewable energy potential in offshore wind and solar energy.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="citizensclimatelobby.org" href="http://citizensclimatelobby.org" class="text_14">Citizens Climate Lobby</a><span class="text_10"> is a non-partisan, grassroots advocacy organization focused on national policies to address climate change. They provide opportunities to engage at the local level with fellow volunteers and trainings on their Carbon Fee and Dividend proposal, building relationships with your elected representatives, writing letters to the editor and op-eds, facilitate presentations and events. Sign up or register to join their </span><a title="citizensclimatelobby.org/join-weekly-intro-call/" href="https://citizensclimatelobby.org/join-weekly-intro-call/" class="text_8">weekly intro call</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.climateparents.org" href="http://www.climateparents.org" class="text_14">Climate Parents</a><span class="text_15"> </span><span class="text_10">gives voice to parents, grandparents, aunts, uncles, and anyone else concerned about the climate our children are inheriting. It is a powerful movement of families advocating for bold solutions to climate change. They work at a national and regional level to fight dirty energy and scale up renewables, enact policies that help protect kids and communities from climate impacts, and ensure our kids learn climate science and solutions in school.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="The Climate Reality Project" href="http://www.climaterealityproject.org/" class="text_14">The Climate Reality Project</a><span class="text_10"> is bringing the facts about the climate crisis into the mainstream and engaging the public in conversation about how to solve it. They help citizens around the world reject the lies and take meaningful steps to bring about change.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.edf.org" href="http://www.edf.org" class="text_14">Environmental Defense Fund</a><span class="text_10"> works to preserve the natural systems on which all life depends. It is made up of more than one million members and a staff of 500 scientists, economists, policy experts, and other professionals around the world. They provide petitions for your consideration via their </span><a target="_blank" title="www.edf.org/action" href="http://www.edf.org/action" class="text_8">action center</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" href="http://www.lcv.org/" class="text_14">The League of Conservation Voters</a><span class="text_10"> works to turn environmental values into national, state, and local priorities. LCV, in collaboration with our state LCV partners, advocates for sound environmental laws and policies, holds elected officials accountable for their votes and actions, and elects pro-environment candidates who will champion our priority issues. Check out their </span><a href="http://www.lcv.org/act/" class="text_8">latest actions</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.momscleanairforce.org" href="http://www.momscleanairforce.org" class="text_14">Moms’ Clean Air Force</a><span class="text_16"> </span><span class="text_10">is a community of moms and dads united against air pollution &ndash; including the urgent crisis of our changing climate &ndash; to protect our children’s health. They arm members with reliable information and solutions through online resources, articles, action tools and on-the-ground events.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="ncse.com" href="http://ncse.com" class="text_14">National Center for Science Education</a><span class="text_16"> </span><span class="text_10">(NCSE) is a not-for-profit, membership organization providing information and resources for schools, parents, and concerned citizens working to keep evolution and climate science in public school science education.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.nrdc.org" href="http://www.nrdc.org" class="text_14">Natural Resources Defense Council</a><span class="text_15"> </span><span class="text_10">combines the grassroots power of 1.4 million members and online activists with the courtroom clout and expertise of nearly 500 lawyers, scientists and other professionals. You can find ways to get help their campaigns on their </span><a title="www.nrdc.org/action/" href="http://www.nrdc.org/action/" class="text_8">Action page</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.oceanconservancy.org" href="http://www.oceanconservancy.org" class="text_14">Ocean Conservancy</a><span class="text_10"> educates and empowers citizens to take action on behalf of the ocean. From the Arctic to the Gulf of Mexico to the halls of Congress, Ocean Conservancy brings people together to find solutions for our water planet. Informed by science, our work guides policy and engages people in protecting the ocean and its wildlife for future generations.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="www.opsociety.org" href="http://www.opsociety.org" class="text_14">Oceanic Preservation Society</a><span class="text_10"> (OPS) is a non-profit organization that creates film, photography and media, inspiring people to save the oceans. Their recent film is </span><a target="_blank" title="www.racingextinction.com" href="https://www.racingextinction.com" class="text_8">Racing Extinction</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_4"><a href="http://oilchangeusa.org/" class="calibre1"><span class="text_20">Oil Change U.S.A</span><span class="text_21"> </span></a><span class="text_22"> join us </span><span class="text_23">→</span><span class="text_22"> At </span><span class="text_24">Oil</span><span class="text_22"> </span><span class="text_24">Change</span><span class="text_22">, we believe in people power. Together, we kick fossil fuel money out of politics, keep fossil fuels in the ground, and build political support for real climate leaders.</span></p>
	<p class="block_6"><a href="http://nofossilfuelmoney.org/" class="text_4">http://nofossilfuelmoney.org/</a></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a href="https://powershift.org/about" class="text_14">Powershift Network</a><span class="text_13"> </span><span class="text_10">Through the collective power of young people, the </span><span class="text_15">Power</span><span class="text_10"> </span><span class="text_15">Shift</span><span class="text_10"> Network is working for a safe climate and just future where communities are thriving and own their power&mdash;whether that power is electrical, economic, social, or political.</span></p>
	<p class="block_6"><a href="https://powershift.org/plug-power-shift-network" class="calibre4">https://powershift.org/plug-power-shift-network#membership</a></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><span class="text_13"> </span><span class="text_14">Sierra Club</span><span class="text_10"> is the nation’s largest and most influential grassroots environmental organization &mdash; with more than two million members and supporters. Our successes range from protecting millions of acres of wilderness to helping pass the Clean Air Act, Clean Water Act, and Endangered Species Act. More recently, we’ve made history by leading the charge to move away from the dirty fossil fuels that cause climate disruption and toward a clean energy economy. In addition to working at the national level, they have </span><a target="_blank" title="www.sierraclub.org/near-you" href="http://www.sierraclub.org/near-you" class="text_8">local chapters</a><span class="text_10">.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" href="http://50yearforecast.org" class="text_14">TV Meteorologists and Climate Change</a><span class="text_10"> &ndash; As climate change transforms our weather patterns, local TV meteorologists have a unique opportunity to help Americans understand the link between climate change and extreme weather. Contact your local meteorologist at&nbsp;</span><a target="_blank" href="http://50yearforecast.org/" class="text_8">50yearforecast.org</a><span class="text_10">&nbsp;and ask them to make a commitment to raising awareness about the long term consequences of climate change in your community</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" href="http://www.ucsusa.org/action-center" class="text_14">The Union of Concerned Scientists</a><span class="text_10"> is a science-based, non-partisan non-profit that works for a healthier environment and a safer world. UCS works with scientists and citizens to educate the public, media and policymakers about climate change. In addition to conducting original research, the group also advocates for clean energy and climate resilience at the local, state, regional, federal and international levels.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a href="http://www.vocesverdes.org" class="text_14">Voces Verdes</a><span class="text_10">&nbsp;is an independent non-partisan coalition of Latino business, public health, academic, community leaders and organizational partners who advocate for sound environmental policy to combat climate change and support clean, renewable energy. We recognize the importance of balancing economic growth, environmental protection &amp; prosperity and are able to provide Latino data around climate change and health. Get&nbsp;involved in the Latino environmental movement by staying up to date with our panels and community events, you can sign up for our </span><a href="http://www.vocesverdes.org/get-involved" class="text_8">newsletter</a><span class="text_10">,&nbsp;or&nbsp;join our monthly </span><a href="https://twitter.com/VocesVerdes" class="text_8">twitter</a><span class="text_10"> chats.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a target="_blank" title="waterkeeper.org" href="http://waterkeeper.org" class="text_14">Waterkeeper Alliance</a><span class="text_17"> </span><span class="text_10">provides a way for communities to stand up to anyone who threatens this right&mdash;from law-breaking corporate polluters to irresponsible governments. You can use </span><a target="_blank" title="waterkeeper.org/find-your-waterkeeper/" href="http://waterkeeper.org/find-your-waterkeeper/" class="text_8">this link</a><span class="text_10"> to find your local waterkeeper and get involved in protecting your waterways.</span></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_8"><a href="http://thisiszerohour.org/" class="calibre1"><span class="text_14">Zero</span><span class="text_25"> </span><span class="text_14">Hour</span></a><span class="text_10"> </span><span class="text_15">is</span><span class="text_10"> a youth-led movement creating entry points, training, and resources for new young activists and organizers (and adults who support our vision) wanting to take concrete action around climate change.</span></p>
	<p class="block_6"><a href="http://thisiszerohour.org/chapters/" class="text_4">http://thisiszerohour.org/chapters/</a></p>
	<p class="block_4">&nbsp;</p>
	<p class="block_3">&nbsp;<a href="https://morethanscientists.org/get-involved/" class="text_26">Learn More</a><b class="calibre3"> | </b><a href="https://morethanscientists.org/get-involved/" class="text_26">News &amp; Blogs</a><b class="calibre3"> | </b><a href="https://morethanscientists.org/get-involved/" class="text_26">Reduce Your Climate Impact</a></p><br><br>
							
							
							
							