
<div class="boxB">
<p><a href="Plan2.html#Things"><span style="font-size:1.2em;">Back to Plan </span.</a><br><br>
	<a href="AssetsMain.html"><span style="font-size:1.2em;">Back to Assets & Resources </span></a><br><br>
	<a href="#top"><span style="font-size:1.2em;">...top</a></p></span>
	</div>
	<br><br>
	
	<!-- .css -->
	
	.boxB{ height:auto;
			margin: 0 auto;
			text-align:center;
			width:50%;
			background-color:tan;
			
}
.boxB>p {padding:10px;
}